<ng-container *ngIf="!ventanaConfirmacion">
  <form [formGroup]="agregarCapillaForm">

    <form [formGroup]="agregarCapillaForm">
      <div class="row mb-3">
        <div class="col-md-8">
          <label class="control-label" for="idAgregar">ID<span class="req">*</span>:</label>
          <input id="idAgregar" class="form-control" formControlName="id" placeholder="ID">
          <span class="campo-obligatorio"
                *ngIf="fac.id?.errors?.required && (fac.id?.dirty || fac.id?.touched)">Campo obligatorio</span>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-12">
          <label class="control-label" for="nombreAgregar">Nombre<span class="req">*</span>:</label>
          <input id="nombreAgregar" class="form-control" formControlName="nombre"
                 placeholder="Ingresa el nombre de la capilla ">
          <span class="campo-obligatorio"
                *ngIf="fac.nombre?.errors?.required && (fac.nombre?.dirty || fac.nombre?.touched)">Campo obligatorio</span>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <label class="control-label" for="capacidadAgregar">Capacidad<span class="req">*</span>:</label>
          <input id="capacidadAgregar" class="form-control" formControlName="capacidad"
                 placeholder="Ingresa la capacidad">
          <span class="campo-obligatorio"
                *ngIf="fac.capacidad?.errors?.required && (fac.capacidad?.dirty || fac.capacidad?.touched)">Campo obligatorio</span>
        </div>
        <div class="col-md-6">
          <label class="control-label" for="velatorioAgregar">Velatorio<span class="req">*</span></label>
          <p-dropdown appendTo="body" id="velatorioAgregar" class="form-control" formControlName="velatorio"
                      [options]="velatorios"
                      placeholder="Seleccione el velatorio">
          </p-dropdown>
          <span class="campo-obligatorio"
                *ngIf="fac.velatorio?.errors?.required && (fac.velatorio?.dirty || fac.velatorio?.touched)">Campo obligatorio</span>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-4">
          <label class="control-label" for="largoAgregar">Largo<span class="req">*</span>:</label>
          <input id="largoAgregar" class="form-control" formControlName="largo"
                 placeholder="Ingresa el largo">
          <span class="campo-obligatorio"
                *ngIf="fac.largo?.errors?.required && (fac.largo?.dirty || fac.largo?.touched)">Campo obligatorio</span>
        </div>
        <div class="col-md-4">
          <label class="control-label" for="anchoAgregar">Ancho<span class="req">*</span>:</label>
          <input id="anchoAgregar" class="form-control" formControlName="ancho"
                 placeholder="Ingresa el ancho">
          <span class="campo-obligatorio"
                *ngIf="fac.ancho?.errors?.required && (fac.ancho?.dirty || fac.ancho?.touched)">Campo obligatorio</span>
        </div>
        <div class="col-md-4">
          <label class="control-label" for="areaTotalAgregar">Área total<span class="req">*</span>:</label>
          <input id="areaTotalAgregar" class="form-control" formControlName="areaTotal"
                 placeholder="Ingresa el área">
          <span class="campo-obligatorio"
                *ngIf="fac.areaTotal?.errors?.required && (fac.areaTotal?.dirty || fac.areaTotal?.touched)">Campo obligatorio</span>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-md-12">
          <span>*Campos obligatorios</span>
        </div>
      </div>
    </form>

  <div class="flex justify-content-end">
    <button class="btn btn-default btn-md" (click)="cerrar()">Cancelar</button>
    <button class="ml-4 btn btn-primary btn-md" [disabled]="agregarCapillaForm.invalid" (click)="AgregarCapilla()">
      Agregar
    </button>
  </div>

<ng-container *ngIf="ventanaConfirmacion">
  <app-detalle-capilla [capillaSeleccionada]="capillaSeleccionada" [origen]="'agregar'"
    (confirmacionAceptar)="cerrar()"></app-detalle-capilla>
</ng-container>
