<app-titulo-principal styleClass="mt-4" titulo="ADMINISTRAR PROVEEDORES"></app-titulo-principal>
<div class="border-panel">
  <form [formGroup]="filtroForm">
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="nivel">Nivel:</label>
        <p-dropdown id="nivel" class="form-control" formControlName="nivel" [options]="opciones"
          placeholder="Seleccionar el nivel">
        </p-dropdown>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="velatorio">Velatorio:</label>
        <p-dropdown id="velatorio" class="form-control" formControlName="velatorio" [options]="opciones"
          placeholder="Seleccionar el velatorio">
        </p-dropdown>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-12">
        <label class="control-label" for="delegacion">Proveedores:</label>
        <p-dropdown id="delegacion" class="form-control" formControlName="delegacion" [options]="opciones"
          placeholder="Seleccionar la delegación">
        </p-dropdown>
      </div>
      <div class="col-md-12">
        <label class="control-label" for="rol">Proveedor:</label>
        <p-dropdown id="rol" class="form-control" formControlName="rol" [options]="opciones"
          placeholder="Ingresar nombre del proveedor">
        </p-dropdown>
      </div>
    </div>
    <div class="row mt-6">
      <div class="col-md-12 flex justify-content-end">
        <button type="submit" class="btn btn-default btn-md">Limpiar</button>
        <button type="submit" class="btn btn-primary btn-md ml-5">Buscar</button>
      </div>
    </div>
  </form>
</div>
<section class="mt-5">
  <div class="flex justify-content-between align-items-center">
    <h2 class="subtitulo">Lista de usuarios</h2>
    <button type="button" class="btn btn-primary btn-lg" (click)="abrirModalAgregarProveedor()">Agregar proveedor</button>
  </div>
  <p-table styleClass="mt-5 mb-8 last-sticky-column" [value]="usuarios" [paginator]="usuarios.length > 0"
    [rows]="cantElementosPorPagina" [lazy]="true" [totalRecords]="totalElementos" [pageLinks]="3"
    [(first)]="numPaginaActual" (onLazyLoad)="paginar($event)">
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Tipo de proveedor</th>
        <th>Responsable sanitario</th>
        <th>Estatus</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-usuario>
      <tr>
        <td>{{usuario.id}}</td>
        <td>{{usuario.curp}}</td>
        <td>{{usuario.matricula}}</td>
        <!-- <td>{{usuario.usuario}}</td>
        <td>{{usuario.nombre}}</td>
        <td>{{usuario.primerApellido}}</td> -->
        <td>{{usuario.segundoApellido}}</td>
        <td>
          <div class="contenedor-inputswitch">
            <p-inputSwitch [(ngModel)]="usuario.estatus"></p-inputSwitch>
            <span class="activo" *ngIf="usuario.estatus">Activo</span>
            <span class="inactivo" *ngIf="!usuario.estatus">Inactivo</span>
          </div>
        <td>
          <div class="contenedor-celda-iconos">
            <a (click)="abrirModalDetalleUsuario(usuario)">
              <img src="assets/images/imagen-icono-ver.svg" alt="icono ver">
            </a>
            <a (click)="abrirPanel($event,usuario)">
              <img src="assets/images/imagen-icono-barras-horizontales.svg" alt="icono barras horizontales">
            </a>

          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <div class="paginator-template">
        <span class="total-elements">{{usuarios.length}} de {{totalElementos}}</span>
      </div>
    </ng-template>
    <ng-template pTemplate="paginatorright">
      <div class="paginator-template">
        <div class="export-table">
          <span class="export-table-text">Exportar tabla</span>
          <div class="export-table-icons">
            <img class="icon-export-table" src="assets/images/imagen-icono-pdf.svg" alt="exportar pdf">
            <img class="icon-export-table" src="assets/images/imagen-icono-excel.svg" alt="exportar excel">
          </div>
        </div>
      </div>
    </ng-template>
  </p-table>
</section>

<p-overlayPanel #overlayPanel>
  <ng-template pTemplate="content">
    <app-overlay-panel-opciones>
      <app-overlay-panel-opcion titulo="Modificar" (click)="abrirModalModificarUsuario()"></app-overlay-panel-opcion>
    </app-overlay-panel-opciones>
  </ng-template>
</p-overlayPanel>

<!-- MODAL AGREGAR PROVEEDOR-->
<p-dialog [style]="{maxWidth:'876px',width: '100%'}" header="Agregar proveedor"
  [(visible)]="mostrarModalAgregarProveedor" [modal]="true" [draggable]="false" [resizable]="false">
  <ng-template pTemplate="content">
    <ng-container *ngIf="mostrarformDireccionFiscal == false">
      <form [formGroup]="agregarProveedorForm">
        <div class="row mb-3">
          <div class="col-md-6">
            <label class="control-label" for="id">ID*</label>
            <input id="id" class="form-control" formControlName="id" placeholder="ID">
          </div>
          <div class="col-md-6">
            <label class="control-label" for="nombre">Nombre<span class="req">*:</span></label>
            <input id="nombre" class="form-control" formControlName="nombre"
              placeholder="Ingresa el nombre del proveedor">
            <span class="campo-obligatorio"
              *ngIf="fau?.nombre?.errors?.required && (fau?.nombre?.dirty || fau?.nombre?.touched)">Campo
              obligatorio</span>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <label class="control-label" for="banco">Banco<span class="req">*:</span></label>
            <input id="banco" class="form-control" formControlName="banco" placeholder="Ingresa el banco">
            <span class="campo-obligatorio"
              *ngIf="fau?.banco?.errors?.required && (fau?.banco?.dirty || fau?.banco?.touched)">Campo
              obligatorio</span>
          </div>

          <div class="col-md-6">
            <label class="control-label" for="cuenta">Cuenta<span class="req">*:</span></label>
            <input id="cuenta" class="form-control" formControlName="cuenta" placeholder="Ingresa el no. de cuenta">
            <span class="campo-obligatorio"
              *ngIf="fau?.cuenta?.errors?.required && (fau?.cuenta?.dirty || fau?.cuenta?.touched)">Campo
              obligatorio</span>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <label class="control-label" for="clabeBancaria">Clabe bancaria<span class="req">*:</span></label>
            <input id="clabeBancaria" class="form-control" formControlName="clabeBancaria"
              placeholder="Ingresa la clabe bancarias">
            <span class="campo-obligatorio"
              *ngIf="fau?.clabeBancaria?.errors?.required && (fau?.clabeBancaria?.dirty || fau?.clabeBancaria?.touched)">Campo
              obligatorio</span>
          </div>
          <div class="col-md-6">
            <label class="control-label" for="tipoProveedor">Tipo de proveedor<span class="req">*:</span></label>
            <p-dropdown appendTo="body" id="tipoProveedor" class="form-control" formControlName="tipoProveedor"
              [options]="opciones" placeholder="Selecciona el tipo de proveedor">
            </p-dropdown>
            <span class="campo-obligatorio"
              *ngIf="fau?.tipoProveedor?.errors?.required && (fau?.tipoProveedor?.dirty || fau?.tipoProveedor?.touched)">Campo
              obligatorio</span>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <label class="control-label" for="rfc">RFC<span class="req">*:</span></label>
            <input id="rfc" class="form-control" formControlName="rfc" placeholder="Ingresa el RFC">
            <span class="campo-obligatorio"
              *ngIf="fau?.rfc?.errors?.required && (fau?.rfc?.dirty || fau?.rfc?.touched)">Campo obligatorio</span>
          </div>
          <div class="col-md-6">
            <label class="control-label" for="curp">CURP<span class="req">*:</span></label>
            <input id="curp" class="form-control" formControlName="curp" placeholder="Ingresa el CURP">
            <span class="campo-obligatorio"
              *ngIf="fau?.curp?.errors?.required && (fau?.curp?.dirty || fau?.curp?.touched)">Campo obligatorio</span>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <label class="control-label" for="tipoContrato">Tipo de contrato<span class="req">*:</span></label>
            <input id="tipoContrato" class="form-control" formControlName="tipoContrato"
              placeholder="Ingresa el tipo de contrato">
            <span class="campo-obligatorio"
              *ngIf="fau?.tipoContrato?.errors?.required && (fau?.tipoContrato?.dirty || fau?.tipoContrato?.touched)">Campo
              obligatorio</span>
          </div>
          <div class="row col-md-6">
            <div class="sentrar">
              <label class="control-label" for="vigencia">Vigencia<span class="req">*</span>:</label>
            </div>
            <div class="col-md-6">
              <p-calendar id="fechaDesde" formControlName="fechaDesde" styleClass="form-control"
                [showIcon]="true" placeholder="dd/mm/aaaa" dateFormat="dd/mm/yy" appendTo="body">
              </p-calendar>
              <span class="campo-obligatorio"
                *ngIf="fau?.fechaDesde?.errors?.required && (fau?.fechaDesde?.dirty || fau?.fechaDesde?.touched)">Campo
                obligatorio</span>
            </div>
            <div class="col-md-6">
              <p-calendar id="fechaHasta" formControlName="fechaHasta" styleClass="form-control"
                [showIcon]="true" placeholder="dd/mm/aaaa" dateFormat="dd/mm/yy" appendTo="body">
              </p-calendar>
              <span class="campo-obligatorio"
                *ngIf="fau?.fechaHasta?.errors?.required && (fau?.fechaHasta?.dirty || fau?.fechaHasta?.touched)">Campo
                obligatorio</span>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <label class="control-label" for="telefono">Teléfono<span class="req">*:</span></label>
            <input id="telefono" class="form-control" formControlName="telefono" placeholder="Ingresa el teléfono">
            <span class="campo-obligatorio"
              *ngIf="fau?.telefono?.errors?.required && (fau?.telefono?.dirty || fau?.telefono?.touched)">Campo
              obligatorio</span>
          </div>
          <div class="col-md-6">
            <label class="control-label" for="correoElectronico">Correo electrónico<span class="req">*:</span></label>
            <input id="correoElectronico" class="form-control" formControlName="correoElectronico"
              placeholder="Ingresa el correo electrónico">
            <span class="campo-obligatorio"
              *ngIf="fau?.correoElectronico?.errors?.required && (fau?.correoElectronico?.dirty || fau?.correoElectronico?.touched)">Campo
              obligatorio</span>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <label class="control-label" for="regimen">Régimen<span class="req">*:</span></label>
            <input id="regimen" class="form-control" formControlName="regimen" placeholder="Ingresa el régimen">
            <span class="campo-obligatorio"
              *ngIf="fau?.regimen?.errors?.required && (fau?.regimen?.dirty || fau?.regimen?.touched)">Campo
              obligatorio</span>
          </div>
          <div class="col-md-6">
            <label class="control-label" for="representanteLegal">Representante legal<span class="req">*:</span></label>
            <input id="representanteLegal" class="form-control" formControlName="representanteLegal"
              placeholder="Ingresa el representante legal">
            <span class="campo-obligatorio"
              *ngIf="fau?.representanteLegal?.errors?.required && (fau?.representanteLegal?.dirty || fau?.representanteLegal?.touched)">Campo
              obligatorio</span>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-md-12">
            <label class="control-label">Estatus<span class="req">*</span></label>
            <div class="contenedor-inputswitch">
              <p-inputSwitch></p-inputSwitch>
              <span class="activo" *ngIf="fau.estatus?.value">Activo</span>
              <span class="inactivo" *ngIf="!fau.estatus?.value">Inactivo</span>
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-md-12">
            <span>*Campos obligatorios</span>
          </div>
        </div>
      </form>
    </ng-container>

 <!-- INFORMACIÓN DE DIRECCIÓN FISCAL-->
    <ng-container *ngIf="mostrarformDireccionFiscal == true">
      <form [formGroup]="agregarDireccionFiscalForm">
        <div class="row mb-3">
          <div class="row mb-4">
            <h2 class="subtituloModal">Dirección fiscal</h2>
            </div>
          <div class="col-md-6">
            <label class="control-label" for="codigoPostal">Código postal<span class="req">*:</span></label>
            <input id="codigoPostal" class="form-control" formControlName="codigoPostal"
              placeholder="Ingresa el código postal">
            <span class="campo-obligatorio"
              *ngIf="fau?.codigoPostal?.errors?.required && (fau?.codigoPostal?.dirty || fau?.codigoPostal?.touched)">Campo
              obligatorio</span>
          </div>
          <div class="col-md-6">
            <label class="control-label" for="calle">Calle<span class="req">*:</span></label>
            <input id="calle" class="form-control" formControlName="calle" placeholder="Ingresa la calle del proveedor">
            <span class="campo-obligatorio"
              *ngIf="fau?.calle?.errors?.required && (fau?.calle?.dirty || fau?.calle?.touched)">Campo
              obligatorio</span>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <label class="control-label" for="noExterior">No. Exterior<span class="req">*:</span></label>
            <input id="noExterior" class="form-control" formControlName="noExterior"
              placeholder="No. Exterior">
            <span class="campo-obligatorio"
              *ngIf="fau?.noExterior?.errors?.required && (fau?.noExterior?.dirty || fau?.noExterior?.touched)">Campo
              obligatorio</span>
          </div>

          <div class="col-md-6">
            <label class="control-label" for="noInterior">No. Interior<span class="req">*:</span></label>
            <input id="noInterior" class="form-control" formControlName="noInterior"
              placeholder="No. Interior">
            <span class="campo-obligatorio"
              *ngIf="fau?.noInterior?.errors?.required && (fau?.noInterior?.dirty || fau?.noInterior?.touched)">Campo
              obligatorio</span>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <label class="control-label" for="pais">País<span class="req">*:</span></label>
            <input id="pais" class="form-control" formControlName="pais" placeholder="Ingresa el país">
            <span class="campo-obligatorio"
              *ngIf="fau?.pais?.errors?.required && (fau?.pais?.dirty || fau?.pais?.touched)">Campo
              obligatorio</span>
          </div>
          <div class="col-md-6">
            <label class="control-label" for="estado">Estado<span class="req">*:</span></label>
            <input id="estado" class="form-control" formControlName="estado" placeholder="Ingresa el estado">
            <span class="campo-obligatorio"
              *ngIf="fau?.estado?.errors?.required && (fau?.estado?.dirty || fau?.estado?.touched)">Campo
              obligatorio</span>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <label class="control-label" for="municipio">Municipio<span class="req">*:</span></label>
            <input id="municipio" class="form-control" formControlName="municipio" placeholder="Ingresa el municipio">
            <span class="campo-obligatorio"
              *ngIf="fau?.municipio?.errors?.required && (fau?.municipio?.dirty || fau?.municipio?.touched)">Campo
              obligatorio</span>
          </div>
        </div>
        <div class="row col-md-12">
          <input type="checkbox" name="check" id="check" value="1" (change)='checkOnClick()'/> Mi dirección referencia es diferente a mi dirección
        </div>
      </form>
    </ng-container>
    <div class="separador"></div>
    <!-- INFORMACIÓN DE DIRECCIÓN DE REFERENCIA -->
    <!-- <div *ngIf="mostrarDireccionReferencia == true"> -->
      <ng-container *ngIf="mostrarDireccionReferencia == true">
        <div class="row mb-4">
        <h2 class="subtituloSubModal">Dirección de referencia</h2>
        </div>
        <form [formGroup]="formDireccionReferencia">
          <div class="row mb-3">
            <div class="col-md-6">
              <label class="control-label" for="codigoPostal">Código postal<span class="req">*:</span></label>
              <input id="codigoPostal" class="form-control" formControlName="codigoPostal" placeholder="Ingresa el código postal">
              <span class="campo-obligatorio"
                *ngIf="fau?.codigoPostal?.errors?.required && (fau?.codigoPostal?.dirty || fau?.codigoPostal?.touched)">Campo
                obligatorio</span>
            </div>
            <div class="col-md-6">
              <label class="control-label" for="calle">Calle<span class="req">*:</span></label>
              <input id="calle" class="form-control" formControlName="calle"
              placeholder="Ingresa la calle">
              <span class="campo-obligatorio"
                *ngIf="fau?.calle?.errors?.required && (fau?.calle?.dirty || fau?.calle?.touched)">Campo
                obligatorio</span>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-6">
              <label class="control-label" for="noExterior">No. Exterior<span class="req">*:</span></label>
              <input id="noExterior" class="form-control" formControlName="noExterior"
                placeholder="No. Exterior">
              <span class="campo-obligatorio"
                *ngIf="fau?.noExterior?.errors?.required && (fau?.noExterior?.dirty || fau?.noExterior?.touched)">Campo
                obligatorio</span>
            </div>
            <div class="col-md-6">
              <label class="control-label" for="noInterior">No. Interior<span class="req">*:</span></label>
              <input id="noInterior" class="form-control" formControlName="noInterior"
                placeholder="No. Interior">
              <span class="campo-obligatorio"
                *ngIf="fau?.noInterior?.errors?.required && (fau?.noInterior?.dirty || fau?.noInterior?.touched)">Campo
                obligatorio</span>
            </div>

          </div>
          <div class="row mb-3">
            <div class="col-md-4">
              <label class="control-label" for="pais">País<span class="req">*</span>:</label>
              <input id="pais" class="form-control" formControlName="pais"
              placeholder="Ingresa el país">
              <span class="campo-obligatorio"
                *ngIf="f.pais?.errors?.required && (f.pais?.dirty || f.pais?.touched)">Campo
                obligatorio</span>
            </div>
            <div class="col-md-4">
              <label class="control-label" for="estado">Estado<span class="req">*</span>:</label>
              <input id="estado" class="form-control" formControlName="estado"
                placeholder="Ingresa el estado">
              <span class="campo-obligatorio"
                *ngIf="f.estado?.errors?.required && (f.estado?.dirty || f.estado?.touched)">Campo obligatorio</span>
            </div>
            <div class="col-md-4">
              <label class="control-label" for="municipio">Municipio<span class="req">*</span>:</label>
              <input id="municipio" class="form-control" formControlName="municipio"
                placeholder="Ingresa el municipio">
              <span class="campo-obligatorio"
                *ngIf="f.municipio?.errors?.required && (f.municipio?.dirty || f.municipio?.touched)">Campo
                obligatorio</span>
            </div>
          </div>
        </form>
      </ng-container>
      <div class="col md-4" *ngIf="mostrarformDireccionFiscal == true">
<div class="col-md-12">
  <span>*Campos obligatorios</span>
</div>
</div>
      <!-- </div> -->

  </ng-template>
  <ng-template pTemplate="footer">

    <!-- BOTONES AGREGAR PROVEEDOR -->
    <ng-container *ngIf="mostrarformDireccionFiscal == false">
      <div class="flex justify-content-end">
        <button class="btn btn-primary btn-md" (click)="mostrarModalAgregarProveedor = false">Cancelar</button>
        <button class="btn btn-primary btn-md"  [disabled]="agregarProveedorForm.invalid" (click)="agregarDireccionFiscal()">Siguiente</button>
      </div>
    </ng-container>

    <ng-container  *ngIf="mostrarformDireccionFiscal == true">
      <div class="flex justify-content-end">
        <button class="btn btn-default btn-md" (click)="regresarAgregarProveedor()">Regresar</button>
        <button class="btn btn-primary btn-md" (click)="mostrarModalAgregarProveedor = false">Cancelar</button>
        <button class="btn btn-primary btn-md"  [disabled]="agregarProveedorForm.invalid" (click)="abrirModalDetalleProveedorForm()">Siguiente</button>
      </div>
    </ng-container>

    <!-- <ng-container  *ngIf="">
      <div class="flex justify-content-end">
        <button class="btn btn-default btn-md" (click)="regresarAgregarProveedor()">Regresar</button>
        <button class="btn btn-primary btn-md" (click)="mostrarModalAgregarProveedor = false">Cancelar</button>
        <button class="btn btn-primary btn-md"  [disabled]="agregarProveedorForm.invalid" (click)="agregarDireccionFiscal()">Siguiente</button>
      </div>
    </ng-container> -->

  </ng-template>
</p-dialog>


<!-- MODAL MODIFICAR PROVEEDOR-->
<!-- <p-dialog [style]="{maxWidth:'876px',width: '100%'}" header="Modificar usuario"
  [(visible)]="mostrarModalModificarProveedor" [modal]="true" [draggable]="false" [resizable]="false">
  <ng-template pTemplate="content">
    <form [formGroup]="modificarProveedorForm">
      <div class="row mb-3">
        <div class="col-md-6">
          <label class="control-label" for="idModificar">ID</label>
          <input id="idModificar" class="form-control" formControlName="id" placeholder="ID">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <label class="control-label" for="curpModificar">CURP<span class="req">*</span></label>
          <input id="curpModificar" class="form-control" formControlName="curp" placeholder="Inserta el CURP">
          <span class="campo-obligatorio"
            *ngIf="fmu?.curp?.errors?.required && (fmu?.curp?.dirty || fmu?.curp?.touched)">Campo obligatorio</span>
        </div>
        <div class="col-md-6">
          <label class="control-label" for="matriculaModificar">Matrícula<span class="req">*</span></label>
          <input id="matriculaModificar" class="form-control" formControlName="matricula"
            placeholder="Inserta la matrícula">
          <span class="campo-obligatorio"
            *ngIf="fmu?.matricula?.errors?.required && (fmu?.matricula?.dirty || fmu?.matricula?.touched)">Campo
            obligatorio</span>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <label class="control-label" for="nombreModificar">Nombre(s)<span class="req">*</span></label>
          <input id="nombreModificar" class="form-control" formControlName="nombre" placeholder="Inserta el nombre">
          <span class="campo-obligatorio"
            *ngIf="fmu?.nombre?.errors?.required && (fmu?.nombre?.dirty || fmu?.nombre?.touched)">Campo
            obligatorio</span>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <label class="control-label" for="primerApellidoModificar">Primer apellido<span class="req">*</span></label>
          <input id="primerApellidoModificar" class="form-control" formControlName="primerApellido"
            placeholder="Inserta el primer apellido">
          <span class="campo-obligatorio"
            *ngIf="fmu?.primerApellido?.errors?.required && (fmu?.primerApellido?.dirty || fmu?.primerApellido?.touched)">Campo
            obligatorio</span>
        </div>
        <div class="col-md-6">
          <label class="control-label" for="segundoApellidoModificar">Segundo apellido<span class="req">*</span></label>
          <input id="segundoApellidoModificar" class="form-control" formControlName="segundoApellido"
            placeholder="Inserta el segundo apellido">
          <span class="campo-obligatorio"
            *ngIf="fmu?.segundoApellido?.errors?.required && (fmu?.segundoApellido?.dirty || fmu?.segundoApellido?.touched)">Campo
            obligatorio</span>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <label class="control-label" for="correoElectronicoModificar">Correo electrónico<span
              class="req">*</span></label>
          <input id="correoElectronicoModificar" class="form-control" formControlName="correoElectronico"
            placeholder="Inserta el correo electrónico">
          <span class="campo-obligatorio"
            *ngIf="fmu?.correoElectronico?.errors?.required && (fmu?.correoElectronico?.dirty || fmu?.correoElectronico?.touched)">Campo
            obligatorio</span>
        </div>
        <div class="col-md-6">
          <label class="control-label" for="fechaNacimientoModificar">Fecha nacimiento<span
              class="req">*</span>:</label>
          <p-calendar id="fechaNacimientoModificar" formControlName="fechaNacimiento" styleClass="form-control"
            [showIcon]="true" placeholder="dd/mm/aaaa" dateFormat="dd/mm/yy" appendTo="body">
          </p-calendar>
          <span class="campo-obligatorio"
            *ngIf="fmu?.fechaNacimiento?.errors?.required && (fmu?.fechaNacimiento?.dirty || fmu?.fechaNacimiento?.touched)">Campo
            obligatorio</span>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <label class="control-label" for="nivelAgregarUsuarioModificar">Nivel<span class="req">*</span></label>
          <p-dropdown appendTo="body" id="nivelAgregarUsuarioModificar" class="form-control" formControlName="nivel"
            [options]="opciones" placeholder="Seleccionar el nivel">
          </p-dropdown>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <label class="control-label" for="delegacionAgregarUsuarioModificar">Delegación<span
              class="req">*</span></label>
          <p-dropdown appendTo="body" id="delegacionAgregarUsuarioModificar" class="form-control"
            formControlName="delegacion" [options]="opciones" placeholder="Seleccione el nivel">
          </p-dropdown>
          <span class="campo-obligatorio"
            *ngIf="fmu?.delegacion?.errors?.required && (fmu?.delegacion?.dirty || fmu?.delegacion?.touched)">Campo
            obligatorio</span>
        </div>
        <div class="col-md-6">
          <label class="control-label" for="velatorioAgregarUsuarioModificar">Velatorio<span
              class="req">*</span></label>
          <p-dropdown appendTo="body" id="velatorioAgregarUsuarioModificar" class="form-control"
            formControlName="velatorio" [options]="opciones" placeholder="Seleccione la delegación">
          </p-dropdown>
          <span class="campo-obligatorio"
            *ngIf="fmu?.velatorio?.errors?.required && (fmu?.velatorio?.dirty || fmu?.velatorio?.touched)">Campo
            obligatorio</span>
        </div>
      </div>
      <div class="row mb-6">
        <div class="col-md-12">
          <label class="control-label" for="rolAgregarUsuarioModificar">Rol<span class="req">*</span></label>
          <p-dropdown appendTo="body" id="rolAgregarUsuarioModificar" class="form-control" formControlName="rol"
            [options]="opciones" placeholder="Seleccione el rol">
          </p-dropdown>
          <span class="campo-obligatorio"
            *ngIf="fmu?.rol?.errors?.required && (fmu?.rol?.dirty || fmu?.rol?.touched)">Campo obligatorio</span>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-12">
          <label class="control-label">Estatus<span class="req">*</span></label>
          <div class="contenedor-inputswitch">
            <p-inputSwitch formControlName="estatus"></p-inputSwitch>
            <span class="activo" *ngIf="fmu.estatus?.value">Activo</span>
            <span class="inactivo" *ngIf="!fmu.estatus?.value">Inactivo</span>
          </div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-12">
          <span>*Campos obligatorios</span>
        </div>
      </div>
    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="flex justify-content-end">
      <button class="btn btn-default btn-md" (click)="mostrarModalModificarProveedor = false">Cancelar</button>
      <button class="ml-4 btn btn-primary btn-md" [disabled]="modificarProveedorForm.invalid"
        (click)="mostrarModalConfModProveedor = true">
        Modificar
      </button>
    </div>
  </ng-template>
</p-dialog> -->


<!-- MODAL CONFIRMACION MODIFICACION PROVEEDOR-->
<!-- <p-dialog [style]="{maxWidth:'876px',width: '100%'}" header="Modificar usuario"
  [(visible)]="mostrarModalConfModProveedor" [modal]="true" [draggable]="false" [resizable]="false">
  <ng-template pTemplate="content">
    <app-table-panel>
      <ng-template appCustomTemplate="left-header">
        <div class="table-panel-header-column">
          <span class="font-bold">ID 1</span>
        </div>
      </ng-template>
      <ng-template appCustomTemplate="right-header">
        <div class="table-panel-header-column">
          <div class="flex flex-column">
            <span>Estatus</span>
            <span class="activo" *ngIf="proveedorSeleccionado.estatus">Activo</span>
            <span class="inactivo" *ngIf="!proveedorSeleccionado.estatus">Inactivo</span>
          </div>
        </div>
      </ng-template>
      <div class="row table-panel-row">
        <div class="col-md-6">
          <div class="table-panel-column">
            <label>CURP</label>
            <span>{{proveedorSeleccionado.curp}}</span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="table-panel-column">
            <label>Matrícula</label>
            <span>{{proveedorSeleccionado.matricula}}</span>
          </div>
        </div>
      </div>
      <div class="row table-panel-row">
        <div class="col-md-6">
          <div class="table-panel-column">
            <label>Nombre</label>
            <span>{{proveedorSeleccionado.nombre}}</span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="table-panel-column">
            <label>Usuario</label>
            <span>{{proveedorSeleccionado.usuario}}</span>
          </div>
        </div>
      </div>
      <div class="row table-panel-row">
        <div class="col-md-6">
          <div class="table-panel-column">
            <label>Primer apellido</label>
            <span>{{proveedorSeleccionado.primerApellido}}</span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="table-panel-column">
            <label>Segundo apellido</label>
            <span>{{proveedorSeleccionado.segundoApellido}}</span>
          </div>
        </div>
      </div>
      <div class="row table-panel-row">
        <div class="col-md-6">
          <div class="table-panel-column">
            <label>Correo electrónico</label>
            <span>{{proveedorSeleccionado.correoElectronico}}</span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="table-panel-column">
            <label>Nivel</label>
            <span>{{proveedorSeleccionado.nivel}}</span>
          </div>
        </div>
      </div>
      <div class="row table-panel-row">
        <div class="col-md-12">
          <div class="table-panel-column">
            <label>Rol</label>
            <span>{{proveedorSeleccionado.rol}}</span>
          </div>
        </div>
      </div>
    </app-table-panel>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="flex justify-content-end">
      <button class="btn btn-default btn-md" (click)="mostrarModalConfModProveedor = false">Cancelar</button>
      <button class="ml-4 btn btn-primary btn-md" (click)="mostrarModalConfModProveedor = false">
        Modificar
      </button>
    </div>
  </ng-template>
</p-dialog> -->


<!-- VER DETALLE PROVEEDOR-->
<p-dialog [style]="{maxWidth:'876px',width: '100%'}" header="Ver detalle" [(visible)]="mostrarModalDetalleProveedor"
  [modal]="true" [draggable]="false" [resizable]="false">
  <ng-template pTemplate="content">
    <app-table-panel>
      <ng-template appCustomTemplate="left-header">
        <div class="table-panel-header-column">
          <span class="font-bold">ID 1</span>
        </div>
      </ng-template>
      <ng-template appCustomTemplate="right-header">
        <div class="table-panel-header-column">
          <div class="flex flex-column">
            <span>Estatus</span>
            <div class="contenedor-inputswitch">
              <p-inputSwitch [(ngModel)]="proveedorSeleccionado.estatus"></p-inputSwitch>
              <span class="activo" *ngIf="proveedorSeleccionado.estatus">Activo</span>
              <span class="inactivo" *ngIf="!proveedorSeleccionado.estatus">Inactivo</span>
            </div>
          </div>
          <a class="ml-5 cursor-pointer" (click)="overlayPanel.toggle($event)">
            <img src="assets/images/imagen-icono-barras-horizontales.svg" alt="icono barras horizontales">
          </a>
        </div>
      </ng-template>
      <div class="row table-panel-row">
        <div class="col-md-6">
          <div class="table-panel-column">
            <label>CURP</label>
            <span>{{proveedorSeleccionado.curp}}</span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="table-panel-column">
            <label>Matrícula</label>
            <span>{{proveedorSeleccionado.matricula}}</span>
          </div>
        </div>
      </div>
      <div class="row table-panel-row">
        <div class="col-md-6">
          <div class="table-panel-column">
            <label>Nombre</label>
            <span>{{proveedorSeleccionado.nombre}}</span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="table-panel-column">
            <label>Usuario</label>
            <span>{{proveedorSeleccionado.usuario}}</span>
          </div>
        </div>
      </div>
      <div class="row table-panel-row">
        <div class="col-md-6">
          <div class="table-panel-column">
            <label>Primer apellido</label>
            <span>{{proveedorSeleccionado.primerApellido}}</span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="table-panel-column">
            <label>Segundo apellido</label>
            <span>{{proveedorSeleccionado.segundoApellido}}</span>
          </div>
        </div>
      </div>
      <div class="row table-panel-row">
        <div class="col-md-6">
          <div class="table-panel-column">
            <label>Correo electrónico</label>
            <span>{{proveedorSeleccionado.correoElectronico}}</span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="table-panel-column">
            <label>Nivel</label>
            <span>{{proveedorSeleccionado.nivel}}</span>
          </div>
        </div>
      </div>
      <div class="row table-panel-row">
        <div class="col-md-12">
          <div class="table-panel-column">
            <label>Rol</label>
            <span>{{proveedorSeleccionado.rol}}</span>
          </div>
        </div>
      </div>
    </app-table-panel>

  </ng-template>
  <ng-template pTemplate="footer">
    <div class="flex justify-content-end">
      <button class="ml-4 btn btn-primary btn-md" (click)="mostrarModalDetalleProveedor = false">
        Aceptar
      </button>
    </div>
  </ng-template>
</p-dialog>
