:host {
  position: absolute;
  display: block;

  .menu-sidebar {
    transform: translateX(-100%);
    background-color: white;
    padding: 1rem 0;

    &.abierto {
      transform: translateX(0);
    }
  }
}
