:host {
  position: absolute;
  display: block;
}

:host ::ng-deep {

  .p-accordion .p-accordion-header:not(.p-highlight):not(.p-disabled):hover .p-accordion-header-link
  .p-accordion .p-accordion-header .p-accordion-header-link {
    background-color: transparent;
  }

  .p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link {
    background-color: transparent;
    border-color: transparent;
    color: #212529;
  }

  .p-accordion .p-accordion-header:not(.p-disabled) .p-accordion-header-link:focus {
    box-shadow: none;
  }

  .p-accordion .p-accordion-header .p-accordion-header-link {
    background-color: transparent;
    text-decoration: none;
    outline: none;
    border: 1px solid #DDDDDD;
  }

  .p-accordion-header.p-highlight {
    border: 1px solid #9D2449;
    border-bottom: none;
    border-top: none;
  }

  .p-accordion-toggle-icon, .p-accordion-header-text {
    display: none;
  }

  .p-accordion .p-accordion-header .p-accordion-header-link {
    padding: 0;
  }

  .p-highlight {
    .menu-titulo {
      position: relative;
    }

    .menu-titulo::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 92.5%;
      height: 0.5px;
      background-color: #9d244961;
      transform: translateX(-50%);
    }
  }

  .menu-titulos {
    width: 100%;
    padding-left: 0;
    margin-bottom: 0;

    .menu-titulo {
      padding: 1.75rem 1rem;
      list-style: none;
      cursor: pointer;
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 1rem;
      align-items: center;
      color: #272829;

      &.activo {
        color: #9D2449;

        .menu-titulo-texto {
          font-weight: 700;
        }

      }

      &:hover {
        background-color: #e0e0e0;
        text-decoration: none;

        .menu-titulo-texto {
          text-decoration: none;
        }
      }

      .menu-titulo-texto {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        text-decoration: none;
        color: inherit;
      }

      .menu-titulo-icono {
        display: inline-block;
        font-size: 24px;
        text-decoration: none;
        font-weight: 700;
      }
    }
  }

  .p-highlight {
    .menu-titulo {
      color: #9D2449;

      .menu-titulo-texto {
        font-weight: 700;
      }
    }
  }

  .p-highlight + .p-toggleable-content {
    .menu-subtitulos {
      border: 1px solid #9D2449;
      border-top: none;
      border-radius: 0 0 10px 10px;
    }
  }

  .p-accordion .p-accordion-content {
    border: none;
    box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.1);
  }

  .p-accordion-content {
    padding: 0;

    .menu-subtitulos {
      padding-left: 0;
      margin-bottom: 0;
      overflow: hidden;

      .submenu-titulo {
        padding: 0.5rem 2rem !important;
      }

      .menu-subtitulo {
        padding: 1.75rem 1rem 1.75rem 4rem;
        list-style: none;
        cursor: pointer;
        display: block;
        // display: grid;
        // grid-template-columns: auto 1fr;
        // gap: 1rem;
        color: #272829;

        &.activo {
          color: #9D2449;

          .menu-subtitulo-texto {
            font-weight: 700;
          }
        }

        &:hover {
          background-color: #e0e0e0;
        }

        .menu-subtitulo-texto {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          text-decoration: none;
          color: inherit;
          padding-left: 2rem;
        }

        .menu-subtitulo-icono {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          font-size: 20px;
          font-weight: 700;
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}

.menu-sidebar {
  transform: translateX(-100%);
  background-color: white;

  &.activo {
    transform: translateX(0);
  }
}
