<div class="row mb-4">
  <div class="col-md-4">
    <label class="control-label" for="paquete">Paquete<span class="req">*</span>:</label>
    <p-dropdown id="paquete" class="form-control" [(ngModel)]="paqueteSeleccionado" placeholder="Selecciona el paquete"
                [options]="[{label:'Opción 1', value:0},{label:'Opción 2', value:1}]"></p-dropdown>
  </div>
</div>
<p-accordion styleClass="sivimss-accordion">
  <p-accordionTab>
    <ng-template pTemplate="header">
      <div class="flex justify-content-between align-items-center w-full">
        <span>Paquete</span>
        <button class="btn btn-primary btn-lg" (click)="abrirModalAgregarPrespuesto($event)">Agregar artículos y
          servicios
        </button>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <p-table styleClass="mt-5 mb-8 " [value]="paquetes">
        <ng-template pTemplate="header">
          <tr>
            <th>No. consecutivo</th>
            <th>Grupo</th>
            <th>Concepto</th>
            <th>Cantidad</th>
            <th>Importe/Monto</th>
            <th>Proveedor</th>
            <th>Total del paquete</th>
            <th>¿Deseas utilizar este artículo/servicio?</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-paquete>
          <tr>
            <td>{{paquete.noConsecutivo}}</td>
            <td>{{paquete.grupo}}</td>
            <td>{{paquete.concepto}}</td>
            <td>{{paquete.cantidad}}</td>
            <td>{{paquete.importe}}</td>
            <td>{{paquete.proveedor}}</td>
            <td>{{paquete.totalPaquete}}</td>
            <td>
              <div class="contenedor-celda-iconos">
                <p-checkbox styleClass="mr-3" [(ngModel)]="paquete.deseaUtilizarArtServ"
                            [binary]="true"></p-checkbox>
                <a (click)="abrirPanel($event,paquete)">
                  <i class="fs fs-barras-horizontales"></i>
                </a>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </ng-template>
  </p-accordionTab>
  <p-accordionTab>
    <ng-template pTemplate="header">
      <div class="flex justify-content-between align-items-center w-full">
        <span>Presupuesto</span>
        <button class="btn btn-primary btn-lg" (click)="abrirModalAgregarPaquete($event)">Agregar artículos y
          servicios
        </button>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
    </ng-template>
  </p-accordionTab>
</p-accordion>
<p-overlayPanel #overlayPanel>
  <ng-template pTemplate="content">
    <app-overlay-panel-opciones>
      <app-overlay-panel-opcion titulo="Opcion 1"></app-overlay-panel-opcion>
      <app-overlay-panel-opcion titulo="Opcion 2"></app-overlay-panel-opcion>
    </app-overlay-panel-opciones>
  </ng-template>
</p-overlayPanel>
<div class="row">
  <div class="col-md-12 flex justify-content-end">
    <div class="flex flex-column align-items-end">
      <span class="texto-orden-servicio">Total órden de servicio</span>
      <span class="cantidad-orden-servicio">$0.00</span>
    </div>
  </div>
</div>
<hr class="hr-separador">
<form [formGroup]="form">
  <div class="row mb-2">
    <div class="col-md-6">
      <label class="control-label" for="observaciones">Observaciones<span class="req">*</span>:</label>
      <input id="observaciones" type="text" class="form-control" formControlName="observaciones"
             placeholder="Ingresa observaciones">
      <span class="campo-obligatorio"
            *ngIf="f.observaciones?.errors?.required && (f.observaciones?.dirty || f.observaciones?.touched)">Campo obligatorio</span>
    </div>
    <div class="col-md-6">
      <label class="control-label" for="notasServicio">Notas del servicio<span class="req">*</span>:</label>
      <input id="notasServicio" type="text" class="form-control" formControlName="notasServicio"
             placeholder="Ingresa notas de servicio">
      <span class="campo-obligatorio"
            *ngIf="f.notasServicio?.errors?.required && (f.notasServicio?.dirty || f.notasServicio?.touched)">Campo obligatorio</span>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-12">
      <span class="mensaje-inferior-campo-obligatorio">
        *Campos obligatorios
      </span>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 flex justify-content-end align-items-center">
      <button class="btn btn-md btn-default">Regresar</button>
      <button class="btn btn-md btn-gold ml-5" routerLink="../">Cancelar</button>
      <button type="button" class="btn btn-md btn-primary ml-5">Aceptar</button>
    </div>
  </div>
</form>


<p-dialog [style]="{maxWidth:'876px',width: '100%'}" header="Agregar a presupuesto"
          [(visible)]="mostrarModalAgregarPresupuesto"
          [modal]="true"
          [draggable]="false" [resizable]="false">
  <ng-template pTemplate="content">
    <div class="p-4">
      <div class="row">
        <div class="col-md-12 flex justify-content-center align-items-center">
          <button class="btn btn-primary btn-extra-grande">Ataúd</button>
          <button class="btn btn-primary btn-extra-grande">Servicio</button>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="flex justify-content-end">
      <button class="btn btn-gold btn-md" (click)="mostrarModalAgregarPresupuesto = false">Cancelar</button>
    </div>
  </ng-template>
</p-dialog>


<p-dialog [style]="{maxWidth:'876px',width: '100%'}" header="Agregar a presupuesto"
          [(visible)]="mostrarModalAgregarPaquete"
          [modal]="true"
          [draggable]="false" [resizable]="false">
  <ng-template pTemplate="content">
    <div class="p-4">
      <div class="row mb-5">
        <div class="col-md-12">
          <button class="btn btn-primary btn-extra-grande" (click)="abrirModalAgregarAtaud()">Ataúd</button>
          <button class="btn btn-primary btn-extra-grande">Uma</button>
          <button class="btn btn-primary btn-extra-grande">Empaque</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-primary btn-extra-grande">Artículos <br>complementarios</button>
          <button class="btn btn-primary btn-extra-grande">Servicio</button>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="flex justify-content-end">
      <button class="btn btn-gold btn-md" (click)="mostrarModalAgregarPresupuesto = false">Cancelar</button>
    </div>
  </ng-template>
</p-dialog>


<p-dialog [style]="{maxWidth:'876px',width: '100%'}" header="Agregar ataúd"
          [(visible)]="mostrarModalAgregarAtaud"
          [modal]="true"
          [draggable]="false" [resizable]="false">
  <ng-template pTemplate="content">
    <form [formGroup]="formAgregarAtaud">
      <div class="row">
        <div class="col-md-6">
          <label class="control-label" for="ataud">Ataúd<span class="req">*</span>:</label>
          <p-dropdown id="ataud" class="form-control" formControlName="ataud" placeholder="Selecciona ataúd"
                      appendTo="body"
                      [options]="[{label:'Opción 1', value:0},{label:'Opción 2', value:1}]"></p-dropdown>
          <span class="campo-obligatorio"
                *ngIf="fa.ataud?.errors?.required && (fa.ataud?.dirty || fa.ataud?.touched)">Campo obligatorio</span>
        </div>
        <div class="col-md-6">
          <label class="control-label" for="proveedor">Proveedor<span class="req">*</span>:</label>
          <p-dropdown id="proveedor" class="form-control" formControlName="proveedor" appendTo="body"
                      placeholder="Selecciona proveedor"
                      [options]="[{label:'Opción 1', value:0},{label:'Opción 2', value:1}]"></p-dropdown>
          <span class="campo-obligatorio"
                *ngIf="fa.proveedor?.errors?.required && (fa.proveedor?.dirty || fa.proveedor?.touched)">Campo obligatorio</span>
        </div>
      </div>
    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="flex justify-content-end">
      <button class="btn btn-gold btn-md" (click)="mostrarModalAgregarAtaud = false">Cancelar</button>
      <button class="ml-5 btn btn-primary btn-md" (click)="mostrarModalAgregarAtaud = false">Aceptar</button>
    </div>
  </ng-template>
</p-dialog>

