<div class="nueva-contrasena">
    <form [formGroup]="form" (ngSubmit)="actualizarContrasena()">
        <p-card>
            <h1>Nueva contraseña</h1>
            <div class="form-group">
                <label class="control-label" for="matricula">Matrícula<span class="req">*</span>:</label>
                <input class="form-control" id="matricula" formControlName="matricula" placeholder="Ingresar matrícula" type="text" numbersOnly>
            </div>
            <div class="form-group">
                <label class="control-label" for="nueva-contrasena">Nueva contraseña<span class="req">*</span>:</label>
                <div class="form-icon">
                    <input #inputNueva class="form-control" id="nueva-contrasena" placeholder="Ingresar" type="password"
                        formControlName="nuevaContrasena">
                    <i class="cursor-pointer icon pi pi-eye"
                        (click)="inputNueva.type = inputNueva.type==='password'?'text':'password'"></i>
                </div>
            </div>
            <div class="form-group mb-0">
                <label class="control-label" for="confirmar-contrasena">Confirmar contraseña<span
                        class="req">*</span>:</label>
                <div class="form-icon">
                    <input #inputConfirmar class="form-control" id="confirmar-contrasena" placeholder="Ingresar"
                        type="password" formControlName="confirmacionContrasena">
                    <i class="cursor-pointer icon pi pi-eye"
                        (click)="inputConfirmar.type = inputConfirmar.type==='password'?'text':'password'"></i>
                </div>
            </div>
            <div class="mt-2">
                <span class="req">* Campos obligatorios:</span>
            </div>
            <div class="flex justify-content-end align-items-center mt-8">
                <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Actualizar</button>
            </div>
        </p-card>
    </form>
</div>