.nueva-contrasena {
    height: 100%;
    display: grid;
    max-width: 530px;
    align-items: center;
    margin: auto;
    h1 {
        margin: 0;
        margin-bottom: 40px;
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 27px;
    }
    label {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
    }
    a {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #2387f5;
    }
    button {
        width: 170px;
    }
    i {
        color: #98989a;
    }
}
