<ng-container *ngIf="!ventanaConfirmacion">
  <form [formGroup]="agregarArticuloForm">

    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="idAgregar">ID<span class="req">*:</span>:</label>
        <input id="idAgregar" class="form-control" formControlName="id" placeholder="ID">
        <span class="campo-obligatorio"
              *ngIf="faa.id?.errors?.required && (faa.id?.dirty || faa.id?.touched)">Campo obligatorio</span>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="categoria">Categoria (Artículo)<span class="req">*:</span></label>
        <p-dropdown appendTo="body" id="categoria" class="form-control" formControlName="categoria"
                    [options]="tipoServicio"
                    placeholder="Selecciona la categoria">
        </p-dropdown>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="tipoDeArticulo">Tipo de artículo<span class="req">*:</span></label>
        <p-dropdown appendTo="body" id="tipoDeArticulo" class="form-control" formControlName="tipoDeArticulo"
                    [options]="tipoServicio"
                    placeholder="Selecciona el tipo de servicio">
        </p-dropdown>
        <span class="campo-obligatorio"
              *ngIf="faa.tipoDeArticulo?.errors?.required && (faa.tipoDeArticulo?.dirty || faa.tipoDeArticulo?.touched)">Campo obligatorio</span>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="tipoDeMaterial">Tipo de material<span class="req">*:</span></label>
        <p-dropdown appendTo="body" id="tipoDeMaterial" class="form-control" formControlName="tipoDeMaterial"
                    [options]="cuentaContable"
                    placeholder="Selecciona la cuenta contable">
        </p-dropdown>
        <span class="campo-obligatorio"
              *ngIf="faa.tipoDeMaterial?.errors?.required && (faa.tipoDeMaterial?.dirty || faa.tipoDeMaterial?.touched)">Campo obligatorio</span>
      </div>
    </div>





    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="tamanio">Tamaño<span class="req">*:</span></label>
        <p-dropdown appendTo="body" id="tamanio" class="form-control" formControlName="tamanio"
                    [options]="tipoServicio"
                    placeholder="Selecciona el tamaño">
        </p-dropdown>
        <span class="campo-obligatorio"
              *ngIf="faa.tamanio?.errors?.required && (faa.tamanio?.dirty || faa.tamanio?.touched)">Campo obligatorio</span>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="clasificacionDeProducto">Clasificación del producto<span class="req">*:</span></label>
        <p-dropdown appendTo="body" id="clasificacionDeProducto" class="form-control" formControlName="clasificacionDeProducto"
                    [options]="cuentaContable"
                    placeholder="Selecciona la clasificacióne">
        </p-dropdown>
        <span class="campo-obligatorio"
              *ngIf="faa.clasificacionDeProducto?.errors?.required && (faa.clasificacionDeProducto?.dirty || faa.clasificacionDeProducto?.touched)">Campo obligatorio</span>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-12">
        <label class="control-label" for="modeloDeArticulo">Modelo del artículo<span class="req">*:</span>:</label>
        <input id="modeloDeArticulo" class="form-control" formControlName="modeloDeArticulo" placeholder="Ingresa el modelo">
        <span class="campo-obligatorio"
              *ngIf="faa.modeloDeArticulo?.errors?.required && (faa.modeloDeArticulo?.dirty || faa.modeloDeArticulo?.touched)">Campo obligatorio</span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-12">
        <label class="control-label" for="descripcionDeProducto">Descripción del artículo<span class="req">*:</span>:</label>
        <input id="descripcionDeProducto" class="form-control" formControlName="descripcionDeProducto" placeholder="Ingresa la descripción">
        <span class="campo-obligatorio"
              *ngIf="faa.descripcionDeProducto?.errors?.required && (faa.descripcionDeProducto?.dirty || faa.descripcionDeProducto?.touched)">Campo obligatorio</span>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-4">
        <label class="control-label" for="largo">Largo<span class="req">*:</span>:</label>
        <input id="largo" class="form-control" formControlName="largo" placeholder="Ingresa el largo">
        <span class="campo-obligatorio"
              *ngIf="faa.largo?.errors?.required && (faa.largo?.dirty || faa.largo?.touched)">Campo obligatorio</span>
      </div>
      <div class="col-md-4">
        <label class="control-label" for="ancho">Ancho<span class="req">*:</span>:</label>
        <input id="ancho" class="form-control" formControlName="ancho" placeholder="Ingresa el ancho">
        <span class="campo-obligatorio"
              *ngIf="faa.ancho?.errors?.required && (faa.ancho?.dirty || faa.ancho?.touched)">Campo obligatorio</span>
      </div>
      <div class="col-md-4">
        <label class="control-label" for="alto">Alto<span class="req">*:</span>:</label>
        <input id="alto" class="form-control" formControlName="alto" placeholder="Ingresa el alto">
        <span class="campo-obligatorio"
              *ngIf="faa.ancho?.errors?.required && (faa.ancho?.dirty || faa.ancho?.touched)">Campo obligatorio</span>
      </div>
    </div>


    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="partidaPresupuestal">Partida Presupuestal<span class="req">*:</span></label>
        <p-dropdown appendTo="body" id="partidaPresupuestal" class="form-control" formControlName="partidaPresupuestal"
                    [options]="tipoServicio"
                    placeholder="Selecciona la partida presupuestal">
        </p-dropdown>
        <span class="campo-obligatorio"
              *ngIf="faa.partidaPresupuestal?.errors?.required && (faa.partidaPresupuestal?.dirty || faa.partidaPresupuestal?.touched)">Campo obligatorio</span>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="cuentaContableAgregar">Cuenta contable<span class="req">*:</span></label>
        <p-dropdown appendTo="body" id="cuentaContableAgregar" class="form-control" formControlName="cuentaContable"
                    [options]="cuentaContable"
                    placeholder="Selecciona la cuenta contable">
        </p-dropdown>
        <span class="campo-obligatorio"
              *ngIf="faa.cuentaContable?.errors?.required && (faa.cuentaContable?.dirty || faa.cuentaContable?.touched)">Campo obligatorio</span>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-12">
        <label class="control-label" for="claveSAT">Clave SAT<span class="req"></span></label>
        <p-dropdown appendTo="body" id="claveSAT" class="form-control" formControlName="claveSAT"
                    [options]="partidaPresupuestal"
                    placeholder="Selecciona la clave de artículo SAT">
        </p-dropdown>
        <span class="campo-obligatorio"
              *ngIf="faa.claveSAT?.errors?.required && (faa.claveSAT?.dirty || faa.claveSAT?.touched)">Campo obligatorio</span>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-md-12">
        <label class="control-label">Estatus<span class="req">*:</span></label>
        <div class="contenedor-inputswitch">
          <p-inputSwitch formControlName="estatus"></p-inputSwitch>
          <span class="activo" *ngIf="faa.estatus?.value">Activo</span>
          <span class="inactivo" *ngIf="!faa.estatus?.value">Inactivo</span>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-md-12">
        <span>*Campos obligatorios</span>
      </div>
    </div>
  </form>
  <div class="flex justify-content-end">
    <button class="btn btn-default btn-md" (click)="cerrar()">Cancelar</button>
    <button class="ml-4 btn btn-primary btn-md"  (click)="confirmarAgregarServicio()">
      Agregar
    </button>
  </div>
</ng-container>

<!-- [disabled]="agregarArticuloForm.invalid" -->

<ng-container *ngIf="ventanaConfirmacion">
  <app-detalle-articulos [articuloSeleccionado]="this.articulos" [origen]="'agregar'"
                        (confirmacionAceptar)="cerrar($event)"  ></app-detalle-articulos>
</ng-container>
