h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
  margin:20px 0 20px 0;
}

.texto-monto-cancelacion, .texto-base{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #484848;
}

.cantidad-monto-cancelacion, .cantidad-base{
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  display: inline-block;
  margin-left: 10px;
}

.mensaje-cancelacion-orden{
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #484848;
  text-align: center;
}


