<div class="border-panel mb-8">
  <h2>CANCELAR ORDEN DE SERVICIO</h2>
  <p-accordion styleClass="sivimss-accordion">
    <p-accordionTab>
      <ng-template pTemplate="header">Datos del contratante</ng-template>
      <ng-template pTemplate="content">Body Content</ng-template>
    </p-accordionTab>
    <p-accordionTab>
      <ng-template pTemplate="header">Datos del finado</ng-template>
      <ng-template pTemplate="content">Body Content</ng-template>
    </p-accordionTab>
    <p-accordionTab>
      <ng-template pTemplate="header">
        <div class="flex justify-content-between align-items-center flex-1">
          <span>Presupuesto</span>
          <div>
            <span class="texto-base">Total orden de servicio:</span>
            <b class="cantidad-base">$50,000.00</b>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="content">Body Content</ng-template>
    </p-accordionTab>
    <p-accordionTab>
      <ng-template pTemplate="header">Información de los servicios</ng-template>
      <ng-template pTemplate="content">Body Content</ng-template>
    </p-accordionTab>
  </p-accordion>

  <div class="row">
    <div class="col-md-12">
      <label for="motivoCancelacion" class="control-label">Motivo de la cancelación <span
        class="req">*</span>:</label>
      <textarea id="motivoCancelacion" class="form-control"
                placeholder="Inserta el motivo de la cancelación"></textarea>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-12 flex justify-content-end align-items-center">
      <span class="texto-monto-cancelacion">Monto de la cancelación:</span><b
      class="cantidad-monto-cancelacion">$380.00</b>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-12">
      <p class="mensaje-cancelacion-orden">¿Estás seguro que deseas cancelar esta orden de servicio?</p>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-12 flex justify-content-end align-items-center">
      <button class="btn btn-md btn-gold">Salir sin cancelar</button>
      <button class="ml-6 btn btn-md btn-primary">Aceptar</button>
    </div>
  </div>
</div>
