<app-header-imss-publico></app-header-imss-publico>


<!--Esta implementación es temporal-->
<ng-container [ngTemplateOutlet]="rutaActual === '/inicio-sesion' ? paginaPublica:paginaPrivada"></ng-container>

<app-loader [activarLoaderNavegacionRutas]="true"></app-loader>
<p-toast position="top-center">
  <ng-template let-message pTemplate="message">
    <app-alerta [mensaje]="message.detail"></app-alerta>
  </ng-template>
</p-toast>

<ng-template #paginaPublica>
  <router-outlet></router-outlet>
</ng-template>

<ng-template #paginaPrivada>
  <app-sub-header-privado></app-sub-header-privado>
  <div class="content sidebar-activo">
    <app-menu-sidebar></app-menu-sidebar>
    <main>
      <app-breadcrumb></app-breadcrumb>
      <router-outlet></router-outlet>
    </main>
  </div>
</ng-template>


