<app-header-imss-publico></app-header-imss-publico>

<ng-container [ngTemplateOutlet]="(estaLogueado$ | async) ? paginaPrivada:paginaPublica"></ng-container>

<ng-template #paginaPublica>
  <router-outlet></router-outlet>
</ng-template>

<ng-template #paginaPrivada>
  <app-sub-header-privado></app-sub-header-privado>
  <app-template-with-sidebar>
    <app-breadcrumb></app-breadcrumb>
    <router-outlet></router-outlet>
  </app-template-with-sidebar>
</ng-template>

<app-loader [activarLoaderNavegacionRutas]="true"></app-loader>

<p-toast position="top-center">
  <ng-template let-message pTemplate="message">
    <app-alerta [mensaje]="message.detail"></app-alerta>
  </ng-template>
</p-toast>
