<div class="row mb-3">
    <form [formGroup]="filtroCalendarForm">
      <div class="row mb-3">
        <div class="col-md-6">
          <label class="control-label" for="velatorioCalendario">Velatorio</label>
          <p-dropdown appendTo="body" id="velatorioCalendario" class="form-control" formControlName="velatorio"
                      [options]="velatorios"
                      (onChange)="consultarCapillas()"
                      placeholder="Selecciona el velatorio">
          </p-dropdown>
        </div>
      </div>
    </form>
</div>
<div class="row mb-3">

  <div class="col-md-12">
    <div class="border-panel">

      <div class="flex justify-content-end mb-3">

        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <span>Capillas</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <span class="circle" style="background-color:#217A6B;"></span>
              <b class="texto-base" style="color:#217A6B;"> Ignacio Allende</b>
            </div>
            <div class="col-md-3">
              <span class="circle" style="background-color:#5E217A;"></span>
              <b class="texto-base" style="color:#5E217A;"> Miguel Hidalgo</b>
            </div>
            <div class="col-md-3">
              <span class="circle" style="background-color:#E18F2D;"></span>
              <b class="texto-base" style=" color:#E18F2D;"> Sor Juana Inés</b>
            </div>
          </div>
        </div>
      </div>

      <ng-container  *ngFor="let titulo of tituloCapillas">
        <div>
          <span class="circle" [style.background-color]="titulo.borderColor"></span>
          <b class="texto-base" [style.color]="titulo.textColor"> {{titulo.title}}</b>
        </div>
      </ng-container>

        <div class="flex justify-content-end">
          <div class="flex col-md-6 justify-content-around col-absolute" *ngIf="tituloCapillas != []">
            <ng-container  *ngFor="let titulo of tituloCapillas">
              <div>
                <span class="circle" [style.background-color]="titulo.borderColor"></span>
                <b class="texto-base" [style.color]="titulo.textColor"> {{titulo.title}}</b>
              </div>
            </ng-container>
          </div>
        </div>
        <full-calendar #calendarioCapillas [options]="calendarOptions"></full-calendar>
        <ng-template pTemplate="paginatorright">
          <div class="flex justify-content-end paginator-template">
            <div class="export-table">
              <span class="export-table-text">Exportar tabla</span>
              <div class="export-table-icons">
                <img class="icon-export-table" src="assets/images/imagen-icono-pdf.svg" alt="exportar pdf">
                <img class="icon-export-table" src="assets/images/imagen-icono-excel.svg"
                     alt="exportar excel">
              </div>
            </div>
          </div>
        </ng-template>
</div>


  </div>
</div>













<!-- <div class="border-panel">
  <div class="flex justify-content-end mb-3">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <span>Capillas</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <span class="circle" style="background-color:#217A6B;"></span>
          <b class="texto-base" style="color:#217A6B;"> Ignacio Allende</b>
        </div>
        <div class="col-md-3">
          <span class="circle" style="background-color:#5E217A;"></span>
          <b class="texto-base" style="color:#5E217A;"> Miguel Hidalgo</b>
        </div>
        <div class="col-md-3">
          <span class="circle" style="background-color:#E18F2D;"></span>
          <b class="texto-base" style=" color:#E18F2D;"> Sor Juana Inés</b>
        </div>
      </div>
    </div>
  </div>


  <p-fullCalendar #calendar [options]="calendarOptions"></p-fullCalendar>

</div> -->
