<app-table-panel>
    <ng-template appCustomTemplate="left-header">
        <div class="table-panel-header-column">
            <span class="font-bold">
                ID <span [ngClass]="salaSeleccionado?.estatus ? 'activo' : 'inactivo'">{{salaSeleccionado?.id}}</span>
            </span>
        </div>
    </ng-template>
    <ng-template appCustomTemplate="right-header">
        <div class="table-panel-header-column">
            <div class="flex flex-column">
                <span>Estatus</span>
                <div>
                    <span class="activo" *ngIf="salaSeleccionado?.estatus">Activo</span>
                    <span class="inactivo" *ngIf="!salaSeleccionado?.estatus">Inactivo</span>
                </div>
            </div>
            <div class="flex flex-column ml-5">
                <a>
                    <img
                      src="assets/images/imagen-icono-barras-horizontales.svg"
                      alt="icono barras horizontales">
                  </a>
            </div>
        </div>
    </ng-template>
    <div class="row table-panel-row">
        <div class="col-md-6">
            <div class="table-panel-column">
                <label>No. de empleado</label>
                <span>{{salaSeleccionado?.numEmpleado}}</span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="table-panel-column">
                <label>CURP</label>
                <span>{{salaSeleccionado?.curp}}</span>
            </div>
        </div>        
    </div>
    <div class="row table-panel-row">
        <div class="col-md-12">
            <div class="table-panel-column">
                <label>Nombre(s)</label>
                <span>{{salaSeleccionado?.nombre}}</span>
            </div>
        </div>
    </div>
    <div class="row table-panel-row">
        <div class="col-md-6">
            <div class="table-panel-column">
                <label>Primer apellido</label>
                <span>{{salaSeleccionado?.primerApellido}}</span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="table-panel-column">
                <label>Segundo apellido</label>
                <span>{{salaSeleccionado?.segundoApellido}}</span>
            </div>
        </div>        
    </div>
    <div class="row table-panel-row">
        <div class="col-md-6">
            <div class="table-panel-column">
                <label>Fecha de nacimiento</label>
                <span>{{salaSeleccionado?.fechaNacimiento}}</span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="table-panel-column">
                <label>Fecha de ingreso</label>
                <span>{{salaSeleccionado?.fechaIngreso}}</span>
            </div>
        </div>
    </div>
    <div class="row table-panel-row">
        <div class="col-md-6">
            <div class="table-panel-column">
                <label>Sueldo base</label>
                <span>{{salaSeleccionado?.sueldoBase}}</span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="table-panel-column">
                <label>Velatorio</label>
                <span>{{salaSeleccionado?.velatorio}}</span>
            </div>
        </div>
    </div>
    <div class="row table-panel-row">
        <div class="col-md-6">
            <div class="table-panel-column">
                <label>Categoría</label>
                <span>{{salaSeleccionado?.categoria}}</span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="table-panel-column">
                <label>Antigüedad</label>
                <span>{{salaSeleccionado?.antiguedad}}</span>
            </div>
        </div>
    </div>
    <div class="row table-panel-row">
        <div class="col-md-6">
            <div class="table-panel-column">
                <label>Correo electrónico</label>
                <span>{{salaSeleccionado?.correo}}</span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="table-panel-column">
                <label>Puesto</label>
                <span>{{salaSeleccionado?.puesto}}</span>
            </div>
        </div>
    </div>
    <div class="row table-panel-row">
        <div class="col-md-12">
            <div class="table-panel-column">
                <label>Días de descanso</label>
                <span>{{salaSeleccionado?.diasDescanso}}</span>
            </div>
        </div>
    </div>
</app-table-panel>


<div class="flex justify-content-end mt-5" *ngIf="accionEntrada === Accion.Detalle">
    <button class="ml-4 btn btn-primary btn-md" (click)="cerrarDialogo();">Aceptar</button>
</div>

<div *ngIf="accionEntrada === Accion.Agregar || accionEntrada === Accion.Modificar">
    <div class="m-4 flex flex-column align-items-center justify-content-center">
        <span>{{preguntaConfirmacion}}</span>
    </div>
    <div class="flex justify-content-end mt-5">
        <button class="btn btn-default btn-md" (click)="cerrarDialogo();">Cancelar</button>
        <button class="ml-4 btn btn-primary btn-md" (click)="agregarSala();">Aceptar</button>
    </div>
</div>

<div *ngIf="accionEntrada === Accion.Activar || accionEntrada === Accion.Desactivar">
    <div class="m-4 flex flex-column align-items-center justify-content-center">
        <span>{{preguntaConfirmacion}}</span>
    </div>
    <div class="flex justify-content-end mt-5">
        <button class="btn btn-default btn-md" (click)="cerrarDialogo();">Cancelar</button>
        <button class="ml-4 btn btn-primary btn-md" (click)="cambiarEstatusSala();">Aceptar</button>
    </div>
</div>