<nav class="menu">
  <ul *ngFor="let elemento of elementos">
    <li><a class="titulo"><img src="assets/images/{{elemento.icono}}" alt="icono">{{elemento.titulo}}</a></li>
    <ul class="sub-elementos" *ngIf="elemento.elementos">
      <li *ngFor="let elementoInterno of elemento.elementos">
        <a (click)="opcionSeleccionada = elementoInterno;" [class.activa]="elementoInterno == opcionSeleccionada" [routerLink]="elementoInterno.path" routerLinkActive="activa">{{elementoInterno.titulo}}</a>
      </li>
    </ul>
  </ul>
</nav>
