<app-titulo-principal titulo="Administrar Paquetes"></app-titulo-principal>
<div class="border-panel">
  <form [formGroup]="filtroForm">
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="nivel">Nivel:</label>
        <p-dropdown id="nivel" class="form-control" formControlName="nivel" [options]="opciones"
          placeholder="Selecciona el nivel">
        </p-dropdown>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="delegacion">Delegación:</label>
        <p-dropdown id="delegacion" class="form-control" formControlName="delegacion" [options]="opciones"
          placeholder="Selecciona la delegación">
        </p-dropdown>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="velatorio">Velatorio:</label>
        <p-dropdown id="velatorio" class="form-control" formControlName="velatorio" [options]="opciones"
          placeholder="Selecciona el velatorio">
        </p-dropdown>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="nombrePaquete">Nombre:</label>
        <input id="nombrePaquete" class="form-control" formControlName="nombrePaquete"
          placeholder="Ingresa el nombre del paquete">
      </div>
    </div>
    <div class="row mt-6">
      <div class="col-md-12 flex justify-content-end">
        <button type="submit" class="btn btn-default btn-md" (click)="limpiarFormBusqueda();">Limpiar</button>
        <button type="submit" class="btn btn-primary btn-md ml-5" (click)="buscarPaquete();">Buscar</button>
      </div>
    </div>
  </form>
</div>
<section class="mt-5">
  <div class="flex justify-content-between align-items-center">
    <h2 class="subtitulo">Paquetes</h2>
    <button type="button" class="btn btn-primary btn-lg" (click)="abrirModalAgregarPaquete()">Agregar paquete</button>
  </div>
  <p-table styleClass="mt-5 mb-8 last-sticky-column" [value]="paquetes" [paginator]="paquetes.length > 0"
    [rows]="cantElementosPorPagina" [lazy]="true" [totalRecords]="totalElementos" [pageLinks]="3"
    [(first)]="numPaginaActual" (onLazyLoad)="paginar($event)">
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Paquete</th>
        <th>Descripción del paquete</th>
        <th>Estatus</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-paquete>
      <tr>
        <td>{{paquete.id}}</td>
        <td>{{paquete.nombrePaquete}}</td>
        <td>{{paquete.descripcion}}</td>
        <td>
          <div class="contenedor-inputswitch">
            <p-inputSwitch
              [(ngModel)]="paquete.estatus"
              (click)="paquete.estatus = !paquete.estatus; cambiarEstatus(paquete);">
            </p-inputSwitch>
            <span class="activo" *ngIf="paquete.estatus">Activo</span>
            <span class="inactivo" *ngIf="!paquete.estatus">Inactivo</span>
          </div>
        </td>
        <td>
          <div class="contenedor-celda-iconos">
            <a (click)="abrirModalDetallePaquete(paquete)">
              <img src="assets/images/imagen-icono-ver.svg" alt="icono ver">
            </a>
            <a (click)="abrirPanel($event,paquete)">
              <img src="assets/images/imagen-icono-barras-horizontales.svg" alt="icono barras horizontales">
            </a>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <div class="paginator-template">
        <span class="total-elements">{{paquetes.length}} de {{totalElementos}}</span>
      </div>
    </ng-template>
    <ng-template pTemplate="paginatorright">
      <div class="paginator-template">
        <div class="export-table">
          <span class="export-table-text">Exportar tabla</span>
          <div class="export-table-icons">
            <img class="icon-export-table" src="assets/images/imagen-icono-pdf.svg" alt="exportar pdf">
            <img class="icon-export-table" src="assets/images/imagen-icono-excel.svg" alt="exportar excel">
          </div>
        </div>
      </div>
    </ng-template>
  </p-table>
</section>

<p-overlayPanel #overlayPanel>
  <ng-template pTemplate="content">
    <app-overlay-panel-opciones>
      <app-overlay-panel-opcion titulo="Modificar" (click)="abrirModalModificarPaquete()"></app-overlay-panel-opcion>
    </app-overlay-panel-opciones>
  </ng-template>
</p-overlayPanel>

<!-- MODAL AGREGAR PAQUETE -->
<!-- <p-dialog [style]="{maxWidth:'876px',width: '100%'}" header="Agregar paquete" [(visible)]="mostrarModalAgregarPaquete"
  [modal]="true" [draggable]="false" [resizable]="false">
  <ng-template pTemplate="content">
    <form [formGroup]="agregarPaqueteForm">
      <div class="row mb-3">
        <div class="col-md-8">
          <label class="control-label" for="idAgregar">ID<span class="req">*</span>:</label>
          <input id="idAgregar" class="form-control" formControlName="id" placeholder="ID">
          <span class="campo-obligatorio" *ngIf="fac.id?.errors?.required && (fac.id?.dirty || fac.id?.touched)">Campo
            obligatorio</span>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-12">
          <label class="control-label" for="nombreAgregar">Nombre<span class="req">*</span>:</label>
          <input id="nombreAgregar" class="form-control" formControlName="nombre"
            placeholder="Ingresa el nombre del paquete ">
          <span class="campo-obligatorio"
            *ngIf="fac.nombre?.errors?.required && (fac.nombre?.dirty || fac.nombre?.touched)">Campo obligatorio</span>
        </div>

      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <label class="control-label" for="capacidadAgregar">Capacidad<span class="req">*</span>:</label>
          <input id="capacidadAgregar" class="form-control" formControlName="capacidad"
            placeholder="Ingresa la capacidad">
          <span class="campo-obligatorio"
            *ngIf="fac.capacidad?.errors?.required && (fac.capacidad?.dirty || fac.capacidad?.touched)">Campo
            obligatorio</span>
        </div>
        <div class="col-md-6">
          <label class="control-label" for="velatorioAgregar">Velatorio<span class="req">*</span></label>
          <p-dropdown appendTo="body" id="velatorioAgregar" class="form-control" formControlName="velatorio"
            [options]="opciones" placeholder="Seleccione el velatorio">
          </p-dropdown>
          <span class="campo-obligatorio"
            *ngIf="fac.velatorio?.errors?.required && (fac.velatorio?.dirty || fac.velatorio?.touched)">Campo
            obligatorio</span>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-4">
          <label class="control-label" for="largoAgregar">Largo<span class="req">*</span>:</label>
          <input id="largoAgregar" class="form-control" formControlName="largo" placeholder="Ingresa el largo">
          <span class="campo-obligatorio"
            *ngIf="fac.largo?.errors?.required && (fac.largo?.dirty || fac.largo?.touched)">Campo obligatorio</span>
        </div>
        <div class="col-md-4">
          <label class="control-label" for="anchoAgregar">Ancho<span class="req">*</span>:</label>
          <input id="anchoAgregar" class="form-control" formControlName="ancho" placeholder="Ingresa el ancho">
          <span class="campo-obligatorio"
            *ngIf="fac.ancho?.errors?.required && (fac.ancho?.dirty || fac.ancho?.touched)">Campo obligatorio</span>
        </div>
        <div class="col-md-4">
          <label class="control-label" for="areaTotalAgregar">Área total<span class="req">*</span>:</label>
          <input id="areaTotalAgregar" class="form-control" formControlName="areaTotal" placeholder="Ingresa el área">
          <span class="campo-obligatorio"
            *ngIf="fac.areaTotal?.errors?.required && (fac.areaTotal?.dirty || fac.areaTotal?.touched)">Campo
            obligatorio</span>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-md-12">
          <span>*Campos obligatorios</span>
        </div>
      </div>
    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="flex justify-content-end">
      <button class="btn btn-default btn-md" (click)="mostrarModalAgregarPaquete = false">Cancelar</button>
      <button class="ml-4 btn btn-primary btn-md" [disabled]="agregarPaqueteForm.invalid" (click)="agregarPaquete()">
        Agregar
      </button>
    </div>
  </ng-template>
</p-dialog> -->