<app-titulo-principal titulo="Administrar roles"></app-titulo-principal>
<div class="border-panel">
    <form [formGroup]="filtroForm">
        <div class="row mb-3">
            <div class="col-md-6">
                <label class="control-label" for="rol">Rol:</label>
                <p-dropdown id="rol" class="form-control" formControlName="estatus" [options]="catRol" placeholder="Seleccionar el rol">
                </p-dropdown>
            </div>
            <div class="col-md-6">
                <label class="control-label" for="nivel">Nivel:</label>
                <p-dropdown id="nivel" class="form-control" formControlName="nivel" [options]="opciones" placeholder="Seleccionar el nivel">
                </p-dropdown>
            </div>          
        </div>
        <div class="row mt-6">
            <div class="col-md-12 flex justify-content-end">
                <button type="submit" class="btn btn-default btn-md" (click)="limpiar();">Limpiar</button>
                <button type="submit" class="btn btn-primary btn-md ml-5" (click)="buscar();">Buscar</button>
            </div>
        </div>
    </form>
</div>
<section class="mt-5">
    <div class="flex justify-content-between align-items-center">
        <h2 class="subtitulo">Roles</h2>
        <button type="button" class="btn btn-primary btn-lg" routerLink="agregar-rol">Agregar rol</button>
    </div>
    <p-table appActivarUltimaCeldaSticky styleClass="mt-5 mb-8" [value]="roles" [paginator]="roles.length > 0" [rows]="cantElementosPorPagina" [lazy]="true" [totalRecords]="totalElementos" [pageLinks]="3" [(first)]="numPaginaActual" (onLazyLoad)="seleccionarPaginacion()">
        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Nivel</th>
                <th>Fecha de creación</th>
                <th>Estatus</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rol>
            <tr>
                <td>{{rol.idRol}}</td>
                <td>{{rol.desRol}}</td>
                <td>{{rol.desNivelOficina}}</td>
                <td>{{rol.fCreacion}}</td>
                <td>
                    <div [appEstilosCeldaSticky]="{display:'grid',gridTemplateColumns:'120px 80px'}">
                        <div class="contenedor-inputswitch">
                            <p-inputSwitch [(ngModel)]="rol.estatus" (ngModelChange)="cambiarEstatus(rol);"></p-inputSwitch>
                            <span class="activo" *ngIf="rol.estatus">Activo</span>
                            <span class="inactivo" *ngIf="!rol.estatus">Inactivo</span>
                        </div>
                        <div class="contenedor-celda-iconos">
                            <a (click)="abrirModalDetalleRol(rol)">
                                <img src="assets/images/imagen-icono-ver.svg" alt="icono ver">
                            </a>
                            <a (click)="abrirPanel($event,rol)">
                                <img src="assets/images/imagen-icono-barras-horizontales.svg" alt="icono barras horizontales">
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <div class="paginator-template">
                <span class="total-elements">{{roles.length}} de {{totalElementos}}</span>
            </div>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <div class="paginator-template">
                <div class="export-table">
                    <span class="export-table-text">Exportar tabla</span>
                    <div class="export-table-icons">
                        <img class="icon-export-table" src="assets/images/imagen-icono-pdf.svg" alt="exportar pdf">
                        <img class="icon-export-table" src="assets/images/imagen-icono-excel.svg" alt="exportar excel">
                    </div>
                </div>
            </div>
        </ng-template>
    </p-table>
</section>

<p-overlayPanel #overlayPanel>
    <ng-template pTemplate="content">
        <app-overlay-panel-opciones>
            <app-overlay-panel-opcion titulo="Modificar" (click)="abrirModalModificarRol()"></app-overlay-panel-opcion>
        </app-overlay-panel-opciones>
    </ng-template>
</p-overlayPanel>