<app-titulo-principal titulo="Mantenimiento predictivo"></app-titulo-principal>
<div class="border-panel">
  <form [formGroup]="filtroForm">
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="nivel">Nivel*:</label>
        <p-dropdown id="nivel" class="form-control" formControlName="nivel" [options]="niveles"
                    placeholder="Seleccionar el nivel">
        </p-dropdown>
        <span class="campo-obligatorio"
        *ngIf="fmp.nivel?.errors?.required && (fmp.nivel?.dirty || fmp.nivel?.touched)">
        Campo obligatorio</span>

      </div>
      <div class="col-md-6">
        <label class="control-label" for="velatorio">Velatorio:</label>
        <p-dropdown id="velatorio" class="form-control" formControlName="velatorio" [options]="velatorios"
                    placeholder="Selecciona el velatorio">
        </p-dropdown>
        <span class="campo-obligatorio"
        *ngIf="fmp.velatorio?.errors?.required && (fmp.velatorio?.dirty || fmp.velatorio?.touched)">
        Campo obligatorio</span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="delegacion">Delegacion*:</label>
        <p-dropdown id="delegacion" class="form-control" formControlName="delegacion" [options]="delegaciones"
                    placeholder="Selecciona la delegacion">
        </p-dropdown>

        <span class="campo-obligatorio"
        *ngIf="fmp.delegacion?.errors?.required && (fmp.delegacion?.dirty || fmp.delegacion?.touched)">
        Campo obligatorio</span>

      </div>
      <div class="col-md-6">
        <label class="control-label" for="placa">Placa*:</label>
        <input id="placa" class="form-control" formControlName="placa"
               placeholder="Ingresa placa" (keyup)="consultaServicioEspecifico()">

               <span class="campo-obligatorio"
               *ngIf="fmp.placa?.errors?.required && (fmp.placa?.dirty || fmp.placa?.touched)">
               Campo obligatorio</span>

      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="tipoMantenimiento">Tipo de Mantenimiento*:</label>
        <p-dropdown id="tipoMantenimiento" class="form-control" formControlName="tipoMantenimiento" [options]="tipoMantenimientos"
                    placeholder="Selecciona el tipo">
        </p-dropdown>

        <span class="campo-obligatorio"
        *ngIf="fmp.tipoMantenimiento?.errors?.required && (fmp.tipoMantenimiento?.dirty || fmp.tipoMantenimiento?.touched)">
        Campo obligatorio</span>

      </div>


        <div class="col-md-6">
          <div class="row">
              <div class="col-md-12">
                  <label class="control-label" for="vigenciaTarjetaInicio">
                      Fecha vigencia:
                      <span class="req">*</span>:</label>
              </div>
              <div class="col-md-6">
                  <p-calendar id="fechaVigenciaDesde" formControlName="fechaVigenciaDesde"
                      styleClass="form-control" [showIcon]="true" placeholder="Fecha desde" dateFormat="dd/mm/yy"
                   >
                  </p-calendar>
                  <span class="campo-obligatorio"
                      *ngIf="fmp.fechaVigenciaDesde?.errors?.required && (fmp.fechaVigenciaDesde?.dirty || fmp.fechaVigenciaDesde?.touched)">
                      Campo obligatorio</span>
              </div>
              <div class="col-md-6">
                  <p-calendar id="fecahVigenciaHasta" formControlName="fecahVigenciaHasta"
                      styleClass="form-control" [showIcon]="true" placeholder="Fecha hasta" dateFormat="dd/mm/yy"
                     appendTo="body">
                  </p-calendar>
                  <span class="campo-obligatorio"
                      *ngIf="fmp.fecahVigenciaHasta?.errors?.required && (fmp.fecahVigenciaHasta?.dirty || fmp.fecahVigenciaHasta?.touched)">
                      Campo obligatorio</span>
              </div>
          </div>
      </div>





    </div>

    <div class="row mb-4">
      <div class="col-md-12">
        <span>*Campos obligatorios</span>
      </div>
    </div>

    <div class="row mt-6">
      <div class="col-md-12 flex justify-content-end">
        <button type="submit" class="btn btn-default btn-md" (click)="limpiar()" >Limpiar</button>
        <button type="submit" class="btn btn-primary btn-md ml-5"
        [disabled]="filtroForm.invalid">Buscar</button>
      </div>
    </div>
  </form>
</div>

<div class="col-mb-12 row flex justify-content-end" style="margin-top: 30px; margin-bottom: 30px;  padding-right: 14px;">
  <button type="submit" class="btn btn-primary btn-md ml-5"
        >Cerrar</button>
  </div>


