<div class="inicio-sesion">
  <form [formGroup]="form" (ngSubmit)="acceder()">

    <h1>Inicio de sesión</h1>
    <h2>Captura tu usuario y contraseña para ingresar</h2>
    <div class="form-group">
      <label class="control-label" for="usuario">Usuario<span class="req">*</span>:</label>
      <input class="form-control" id="usuario" formControlName="usuario"
             placeholder="Ingresar usuario" type="text" [maxlength]="16">
      <span class="campo-obligatorio"
            *ngIf="f.usuario?.errors?.required && (f.usuario?.dirty || f.usuario?.touched)">Campo obligatorio</span>
    </div>
    <div class="form-group mb-0">
      <div class="flex justify-content-between align-items-center">
        <label class="control-label" for="contrasena">Contraseña<span class="req">*</span>:</label>
        <span class="olvidaste-contrasena">¿Olvidaste tu contraseña?</span>
      </div>
      <div class="form-icon">
        <input #input class="form-control" id="contrasena" formControlName="contrasena"
               placeholder="Ingresar contraseña" type="password" [maxlength]="16">
        <i class="cursor-pointer icon pi pi-eye"
           (click)="input.type = input.type==='password'?'text':'password'"></i>
      </div>
      <span class="campo-obligatorio"
            *ngIf="f.contrasena?.errors?.required && (f.contrasena?.dirty || f.contrasena?.touched)">Campo obligatorio</span>
    </div>
    <div class="mt-3">
      <span class="req">*Campos obligatorios</span>
    </div>
    <div class="flex justify-content-end align-items-center mt-3 mb-4 flex-wrap">
      <button class="btn btn-primary btn-lg ml-5" [disabled]="form.invalid">Acceder
      </button>
    </div>

    <!--    <div class="mt-5">Modales que se usarán</div>-->
    <!--    <div class="flex flex-wrap gap-4">-->
    <!--      <button type="button" class="btn btn-primary btn-lg" (click)="modales.intentosAgotados = true">-->
    <!--        Intentos agotados-->
    <!--      </button>-->
    <!--      <button type="button" class="btn btn-primary btn-lg" (click)="modales.restablecerContrasena = true">Restablecer-->
    <!--        contraseña-->
    <!--      </button>-->
    <!--      <button type="button" class="btn btn-primary btn-lg" (click)="modales.cuentaDesactivada = true">Cuenta desactivada-->
    <!--      </button>-->
    <!--      <button type="button" class="btn btn-primary btn-lg" (click)="modales.requiereCambioContrasena = true">Requiere-->
    <!--        cambio-->
    <!--        contraseña-->
    <!--      </button>-->
    <!--      <button type="button" class="btn btn-primary btn-lg" (click)="modales.cambiarContrasena = true">Cambiar-->
    <!--        contraseña-->
    <!--      </button>-->
    <!--    </div>-->

  </form>
</div>

<p-dialog [(visible)]="modales.cambiarContrasena" [modal]="true"
          [style]="{maxWidth:'544px',width: '100%'}"
          [draggable]="false" [resizable]="false" header="Cambiar contraseña">
  <ng-template pTemplate="content">
    <div class="flex flex-column align-items-center">
      <span>¡Tu contraseña está próxima a vencer!</span>
      <span>Tienes 15 dias para cambiarla</span>
      <span class="mt-10">¿Deseas cambiar tu contraseña?</span>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="flex justify-content-end">
      <button class="btn btn-gold btn-md" (click)="modales.cambiarContrasena = false">Cancelar</button>
      <button class="btn btn-primary btn-md ml-5" (click)="modales.cambiarContrasena = false">Aceptar</button>
    </div>
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="modales.requiereCambioContrasena" [modal]="true"
          [style]="{maxWidth:'544px',width: '100%'}"
          [draggable]="false" [resizable]="false" header="Cambiar contraseña">
  <ng-template pTemplate="content">
    <div class="flex flex-column align-items-center">
      <span>Se requiere el cambio de tu contraseña.</span>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="flex justify-content-end">
      <button class="btn btn-primary btn-md" (click)="modales.requiereCambioContrasena = false">Aceptar</button>
    </div>
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="modales.cuentaDesactivada" [modal]="true"
          [style]="{maxWidth:'544px',width: '100%'}"
          [draggable]="false" [resizable]="false" header="Cuenta desactivada">
  <ng-template pTemplate="content">
    <div class="flex flex-column align-items-center justify-content-center">
      <span class="text-center">La cuenta con la que deseas ingresar está desactivada, favor de contactar a tu administrador</span>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="flex justify-content-end">
      <button class="btn btn-primary btn-md" (click)="modales.cuentaDesactivada = false">Aceptar</button>
    </div>
  </ng-template>
</p-dialog>

<!-- Pasar la funcionalidad a un componente a parte -->
<p-dialog [(visible)]="modales.restablecerContrasena" [modal]="true"
          [style]="{maxWidth:'544px',width: '100%'}" [closable]="false"
          [draggable]="false" [resizable]="false" header="Restablecer contraseña">
  <ng-template pTemplate="content">
    <ng-container [ngSwitch]="pasoRestablecerContrasena">
      <ng-container *ngSwitchCase="1">
        <div class="flex flex-column align-items-center justify-content-center">
          <span class="text-center">¿Deseas restablecer tu contraseña?</span>
        </div>
        <div class="flex justify-content-end mt-4">
          <button class="btn btn-gold btn-md" (click)="cerrarModlRestablecerCont()">Cancelar</button>
          <button class="btn btn-primary btn-md ml-5" (click)="pasoRestablecerContrasena = 2">Aceptar</button>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="2">
        <span class="block text-center">Ingresa tu usuario</span>
        <span class="block text-center mb-4">Recibirás un correo para restablecer tu contraseña</span>
        <form [formGroup]="formRestContraUsuario" class="form-restablecer-contrasena">
          <label class="control-label" for="usuarioRestCont">Usuario<span
            class="req">*</span></label>
          <input id="usuarioRestCont" class="form-control" formControlName="usuario"
                 placeholder="Ingresar usuario">
          <span class="campo-obligatorio"
                *ngIf="frcu?.usuario?.errors?.required && (frcu?.usuario?.dirty || frcu?.usuario?.touched)">Campo obligatorio</span>
          <div class="mt-3">
            <span>*Campo obligatorio</span>
          </div>
        </form>
        <div class="flex justify-content-end">
          <button class="btn btn-gold btn-md" (click)="cerrarModlRestablecerCont()">Cancelar</button>
          <button class="btn btn-primary btn-md ml-5" (click)="pasoRestablecerContrasena = 3">Aceptar</button>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="3">
        <span class="block text-center mb-4">Te hemos enviado un código a "usuario" para establecer tu contraseña</span>
        <form [formGroup]="formRestContraCodigo" class="form-restablecer-contrasena">
          <label class="control-label" for="codigoRestCont">Código<span
            class="req">*</span></label>
          <input id="codigoRestCont" class="form-control" formControlName="codigo"
                 placeholder="Ingresar código">
          <span class="campo-obligatorio"
                *ngIf="frcc?.codigo?.errors?.required && (frcc?.codigo?.dirty || frcc?.codigo?.touched)">Campo obligatorio</span>
          <div class="mt-3">
            <span>*Campo obligatorio</span>
          </div>
        </form>
        <div class="flex justify-content-end mt-4">
          <button class="btn btn-gold btn-md" (click)="cerrarModlRestablecerCont()">Cancelar</button>
          <button class="btn btn-primary btn-md ml-5" (click)="cerrarModlRestablecerCont()">Aceptar</button>
        </div>
      </ng-container>
    </ng-container>
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="modales.intentosAgotados" [modal]="true"
          [style]="{maxWidth:'544px',width: '100%'}"
          [draggable]="false" [resizable]="false" header="Intentos agotados">
  <ng-template pTemplate="content">
    <div class="flex flex-column align-items-center justify-content-center">
      <span class="block text-center">Excediste el número de intentos para ingresar al sistema</span>
      <span class="block text-center mt-3">Tu cuenta quiedará inactiva por 5 minutos</span>
    </div>
    <div class="mt-8 contenedor-intentos flex justify-content-center align-items-center">
      <div class="flex flex-column align-items-center justify-content-center">
        <span class="numero">04</span>
        <span>minutos</span>
      </div>
      <span>:</span>
      <div class="flex flex-column align-items-center justify-content-center">
        <span class="numero">23</span>
        <span>segundos</span>
      </div>
    </div>
  </ng-template>
</p-dialog>
