<!-- <ng-container *ngIf="!ventanaConfirmacion"> -->
  <form [formGroup]="solicitudMantenimientoForm">

    <div class="row mb-3">
        <div class="col-md-6">
        <label class="control-label" for="placas">Placas<span class="req">*:</span>:</label>
        <input id="placas" class="form-control" formControlName="placas" placeholder="Ingresa el placas">
        <span class="campo-obligatorio"
              *ngIf="smf.placas?.errors?.required && (smf.placas?.dirty || smf.placas?.touched)">Campo obligatorio</span>
      </div>
        <div class="col-md-6">
        <label class="control-label" for="marca">Marca<span class="req">*:</span>:</label>
        <input id="marca" class="form-control" formControlName="marca" placeholder="Ingresa el marca">
        <span class="campo-obligatorio"
              *ngIf="smf.marca?.errors?.required && (smf.marca?.dirty || smf.marca?.touched)">Campo obligatorio</span>
      </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
        <label class="control-label" for="anio">Año<span class="req">*:</span>:</label>
        <input id="anio" class="form-control" formControlName="anio" placeholder="Ingresa el anio">
        <span class="campo-obligatorio"
              *ngIf="smf.anio?.errors?.required && (smf.anio?.dirty || smf.anio?.touched)">Campo obligatorio</span>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="kilometraje">Kilometraje<span class="req">*:</span>:</label>
        <input id="kilometraje" class="form-control" formControlName="kilometraje" placeholder="Ingresa el kilometraje">
        <span class="campo-obligatorio"
              *ngIf="smf.kilometraje?.errors?.required && (smf.kilometraje?.dirty || smf.kilometraje?.touched)">Campo obligatorio</span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="tipoMantenimiento">Tipo de mantenimiento<span class="req">*:</span></label>
        <p-dropdown appendTo="body" id="tipoMantenimiento" class="form-control" formControlName="tipoMantenimiento"
                    [options]="tiposProveedor"
                    placeholder="Selecciona el tamaño">
        </p-dropdown>
        <span class="campo-obligatorio"
              *ngIf="smf.tipoMantenimiento?.errors?.required && (smf.tipoMantenimiento?.dirty || smf.tipoMantenimiento?.touched)">Campo obligatorio</span>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="fechaMantenimiento">Fecha de mantenimiento<span class="req">*:</span></label>
        <p-calendar id="fechaMantenimiento" formControlName="fechaMantenimiento" styleClass="form-control"
        [showIcon]="true" placeholder="dd/mm/aaaa" dateFormat="dd/mm/yy" appendTo="body">
      </p-calendar>
      <span class="campo-obligatorio"
        *ngIf="smf?.fecha?.errors?.required && (smf?.fecha?.dirty || smf?.fecha?.touched)">Campo
        obligatorio</span>
      </div>
    </div>



    <div class="row mb-4">
      <div class="col-md-12">
        <span>*Campos obligatorios</span>
      </div>
    </div>
  </form>
  <div class="flex justify-content-end">
    <button class="btn btn-default btn-md" >Cancelar</button>
    <button class="ml-4 btn btn-primary btn-md" >
      Agregar
    </button>
  </div>
<!-- </ng-container> -->

<!-- [disabled]="agregarArticuloForm.invalid" -->

<!-- <ng-container *ngIf="ventanaConfirmacion">
  <app-detalle-articulos [articuloSeleccionado]="this.articulos" [origen]="'agregar'"
                        (confirmacionAceptar)="cerrar($event)"  ></app-detalle-articulos>
</ng-container> -->
