<app-titulo-principal titulo="Administración de servicios"></app-titulo-principal>
<div class="border-panel">
  <form [formGroup]="filtroForm">
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="nivel">Nivel:</label>
        <p-dropdown id="nivel" class="form-control" formControlName="nivel" [options]="opciones"
                    placeholder="Seleccionar el nivel">
        </p-dropdown>
      </div>
      <div class="col-md-6">
        <label class="control-label" for="velatorio">Velatorio:</label>
        <p-dropdown id="velatorio" class="form-control" formControlName="velatorio" [options]="opciones"
                    placeholder="Seleccionar el velatorio">
        </p-dropdown>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="control-label" for="servicio">Servicio específico:</label>
        <input id="servicio" class="form-control" formControlName="servicio"
               placeholder="Ingresa el servicio" (keyup)="consultaServicioEspecifico()">
      </div>
    </div>
    <div class="row mt-6">
      <div class="col-md-12 flex justify-content-end">
        <button type="submit" class="btn btn-default btn-md" (click)="limpiar()" >Limpiar</button>
        <button type="submit" class="btn btn-primary btn-md ml-5">Buscar</button>
      </div>
    </div>
  </form>
</div>

<section class="mt-5">
  <div class="flex justify-content-between align-items-center">
    <h2 class="subtitulo">Lista de servicios</h2>
    <button type="button" class="btn btn-primary btn-lg" (click)="abrirModalAgregarServicio()">Agregar servicio</button>
  </div>

  <p-table styleClass="mt-5 mb-8 last-sticky-column" [value]="servicios" [paginator]="servicios.length > 0"
           [rows]="cantElementosPorPagina"
           [lazy]="true" [totalRecords]="totalElementos" [pageLinks]="3" [(first)]="numPaginaActual" [columns]=""
           (onLazyLoad)="paginar($event)">

    <ng-template pTemplate="header">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Servicio</th>
        <th scope="col">Descripción del servicio</th>
        <th scope="col">Tipo de servicio</th>
        <th scope="col">Partida presupuestal</th>
        <th scope="col">Cuenta contable</th>
        <th scope="col">Observaciones</th>
        <th scope="col">Estatus</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-servicio>
      <tr>
        <td> {{servicio.id}} </td>
        <td> {{servicio.servicio}} </td>
        <td> {{servicio.descripcionServicio}} </td>
        <td> {{servicio.descTipoServicio}} </td>
        <td> {{servicio.descPartidaPresupuestal}} </td>
        <td> {{servicio.descCuentaContable}} </td>
        <td> {{servicio.observaciones}} </td>
        <td>
          <div class="contenedor-inputswitch">
            <p-inputSwitch [(ngModel)]="servicio.estatus" (onChange)="seleccionarEstatus($event,servicio)"></p-inputSwitch>
            <span class="activo" *ngIf="servicio.estatus">Activo</span>
            <span class="inactivo" *ngIf="!servicio.estatus">Inactivo</span>
          </div>
        </td>

        <td>
          <div class="contenedor-celda-iconos">
            <a (click)="abrirModalDetalleCapilla(servicio)">
              <img src="assets/images/imagen-icono-ver.svg" alt="icono ver">
            </a>
            <a (click)="abrirPanel($event,servicio)">
              <img
                src="assets/images/imagen-icono-barras-horizontales.svg"
                alt="icono barras horizontales">
            </a>
          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="paginatorleft">
      <div class="paginator-template">
        <span class="total-elements"> {{servicios.length}} de {{totalElementos}} </span>
      </div>
    </ng-template>

    <ng-template pTemplate="paginatorright">
      <div class="paginator-template">
        <div class="export-table">
          <span class="export-table-text">Exportar tabla</span>
          <div class="export-table-icons">
            <img class="icon-export-table" src="assets/images/imagen-icono-pdf.svg" alt="exportar pdf">
            <img class="icon-export-table" src="assets/images/imagen-icono-excel.svg"
                 alt="exportar excel">
          </div>
        </div>
      </div>
    </ng-template>
  </p-table>
</section>

<p-overlayPanel #overlayPanel>
  <ng-template pTemplate="content">
    <app-overlay-panel-opciones>
      <app-overlay-panel-opcion titulo="Modificar" (click)="abrirModalModificarServicio()"></app-overlay-panel-opcion>
    </app-overlay-panel-opciones>
  </ng-template>
</p-overlayPanel>

<!--Estatus servicio-->
<p-dialog [style]="{maxWidth:'876px',width: '100%'}" header=" {{encabezadoEstatusServicio}} "
          [(visible)]="mostrarModalEstatusServicio"
          [modal]="true"
          [draggable]="false" [resizable]="false">

  <ng-template pTemplate="content">
    <app-table-panel>
      <ng-template appCustomTemplate="left-header">
        <div class="table-panel-header-column">
          <span class="font-bold">ID {{servicioSeleccionado.id}}</span>
        </div>
      </ng-template>
      <ng-template appCustomTemplate="right-header">
        <div class="table-panel-header-column">
          <div class="flex flex-column">
            <span>Estatus</span>
            <div class="contenedor-inputswitch">
              <span class="activo" *ngIf="servicioSeleccionado.estatus">Activo</span>
              <span class="inactivo" *ngIf="!servicioSeleccionado.estatus">Inactivo</span>
            </div>
          </div>
        </div>
      </ng-template>
      <div class="row table-panel-row">
        <div class="col-md-4">
          <div class="table-panel-column">
            <label>Servicio</label>
            <span> {{servicioSeleccionado.servicio}} </span>
          </div>
        </div>
        <div class="col-md-8">
          <div class="table-panel-column">
            <label>Descripci&oacute;n del servicio</label>
            <span> {{servicioSeleccionado.descripcionServicio}} </span>
          </div>
        </div>
      </div>
      <div class="row table-panel-row">
        <div class="col-md-4">
          <div class="table-panel-column">
            <label>Tipo de servicio</label>
            <span> {{servicioSeleccionado.descTipoServicio}} </span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="table-panel-column">
            <label>Partida presupuestal</label>
            <span> {{servicioSeleccionado.descPartidaPresupuestal}} </span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="table-panel-column">
            <label>Cuenta contable</label>
            <span> {{servicioSeleccionado.descCuentaContable}} </span>
          </div>
        </div>
      </div>
      <div class="row table-panel-row">
        <div class="col-md-12">
          <div class="table-panel-column">
            <label>Observaciones</label>
            <span> {{servicioSeleccionado.observaciones}} </span>
          </div>
        </div>
      </div>
      <div class="row table-panel-row">
        <div class="col-md-12">
          <div class="table-panel-column">
            <label>Clave de artículo SAT</label>
            <span> {{servicioSeleccionado.claveSAT}} </span>
          </div>
        </div>
      </div>
    </app-table-panel>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="row mt-3 mb-3 flex justify-content-center">
      <div class="row mt-3 mb-3 flex justify-content-center" *ngIf="servicioSeleccionado.estatus" >
        ¿Estás seguro que deseas activar este servicio?
      </div>
      <div class="row mt-3 mb-3 flex justify-content-center" *ngIf="!servicioSeleccionado.estatus">
        ¿Estás seguro que deseas desactivar este servicio?
      </div>
    </div>
    <div class="flex justify-content-end">
      <button class="btn btn-default btn-md" (click)="cambiarEstatus(servicioSeleccionado,false)">Cancelar</button>
      <button class="ml-4 btn btn-primary btn-md"  (click)="cambiarEstatus(servicioSeleccionado,true)">
        Aceptar
      </button>
    </div>
  </ng-template>
</p-dialog>
